<div class="modal fade" id="AlertModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" style="text-align: center">Thanks for you signing up...</h2>
            </div>
            <div class="modal-body">
            	<h3 style="text-align: center;color: black">Your account must be approved before you can access.
                    please check your email for an update shortly.</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
