<div id="login-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">

                <div class="modal-body-left">

                    <button type="button" class="close visible-xs" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>

                    <h4 class="modal-title">Log In</h4>

                    <form method="post" action="/">

                        {% csrf_token %}

                        <div class="form-group">
                            <label for="login-email">Email Address</label>
                            <input type="email" name="login-email" id="login-email" class="form-control"
                                   placeholder="hello@teamedup.com.au">
                        </div>
                        <div class="form-group">
                            <label for="login-password">Password</label>
                            <input type="password" name="login-password" id="login-password" class="form-control"
                                   placeholder="Enter your password">
                        </div>
                        <div class="modal-form-buttons">
                            <button class="logBut btn btn-dark" type="submit">Log In</button>
                            <a class="forget-password" href="/password_reset">Forgot your password?</a>
                        </div>
                    </form>

                    <!-- /START styled form -->
                    <!--
                    <form class="login login-form" method="POST" action="/login">
                        <div class="form-group">
                            <label for="login-email">Email Address</label>
                            <input type="email" id="login-email" class="form-control" placeholder="hello@teamedup.com.au">
                        </div>
                        <div class="form-group">
                            <label for="login-password">Password</label>
                            <input type="password" id="login-password" class="form-control" placeholder="Enter your password">
                        </div>
                        <div class="modal-form-buttons">
                            <input class="logBut btn btn-dark" type="submit">Log In</input>
                            <a class="forget-password" href="#">Forget your password?</a>
                        </div>
                    </form>
                    -->
                    <!-- /END -->

                </div>

                <div class="modal-body-right">

                    <h5>Join York Butter Factory</h5>
                    <p>Signup to join York Butter Factory, and join an innovation network across Australia.</p>

                    <button class="btn btn-transparent-white" type="button" data-toggle="modal"
                            data-target="#signup-modal" data-dismiss="modal">Sign Up
                    </button>

                </div>

            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /#login-modal -->


<div id="signup-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">

                <div class="modal-body-left">

                    <button type="button" class="close visible-xs" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>

                    <h4 class="modal-title">Sign Up</h4>

                    <form class="signup-form" method="post" action="/signup/">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="signup-firstname">Firstname</label>
                            <input type="text" id="signup-firstname" name="signup-firstname" class="form-control"
                                   placeholder="Sarah">
                        </div>
                        <div class="form-group">
                            <label for="signup-lastname">Lastname</label>
                            <input type="text" id="signup-lastname" name="signup-lastname" class="form-control"
                                   placeholder="Smith">
                        </div>
                        <div class="form-group">
                            <label for="signup-email">Email Address</label>
                            <input type="email" id="signup-email" name="signup-email" class="form-control"
                                   placeholder="hello@teamedup.com.au">
                        </div>
                        <div class="form-group">
                            <label for="signup-password">Password</label>
                            <input type="password" id="signup-password" name="signup-password" class="form-control"
                                   placeholder="Enter your password">
                        </div>
                        <div class="modal-form-buttons">
                            <button class="btn btn-dark" type="submit">Sign Up</button>
                        </div>
                    </form>

                </div>

                <div class="modal-body-right">

                    <h5>Have an account already?</h5>
                    <p>Whoa! What are you doing here!? Log in and get cracking!</p>

                    <button class="btn btn-transparent-white" type="button" data-toggle="modal"
                            data-target="#login-modal" data-dismiss="modal">Log In
                    </button>

                </div>

            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /#signup-modal -->