{% extends 'events/base.html' %}
{% block content %}

    {% load staticfiles %}
    {% load app_filter %}
    {% load notifications_tags %}
    <style>
        /* Define how each icon button should look like */
        .notify_button {
            font-size: 25px;
            color: white;

            display: inline-block; /* Inline elements with width and height. TL;DR they make the icon buttons stack from left-to-right instead of top-to-bottom */
            position: relative; /* All 'absolute'ly positioned elements are relative to this one */
            float: right;
            margin-right: 14px;

        }

        /* Make the badge float in the top right corner of the button */
        .notify_button__badge {
            background-color: #fa3e3e;
            border-radius: 2px;
            color: white;

            padding: 1px 3px;
            font-size: 10px;

            position: absolute; /* Position the badge within the relatively positioned button */
            top: 0;
            right: 0;
        }

        /**
     * AddToCalendar Blue Style
     * http://addtocalendar.com
     */

        .atcb-link,
        .atcb-link:hover,
        .atcb-link:active,
        .atcb-link:focus {
            color: #272534;

        }

        .atcb-list {
            width: 170px;
            border: 1px solid rgb(186, 186, 186);
            border-radius: 2px;
            box-shadow: 0 0 5px #AAA;
        }

        .atcb-list,
        .atcb-item {
            background: #fff;
            color: #000;
        }

        .atcb-item, .atcb-item-link {
            line-height: 1.3em;
            vertical-align: middle;
            zoom: 1;
        }

        .atcb-item-link,
        .atcb-item-link:hover,
        .atcb-item-link:active,
        .atcb-item-link:focus {
            color: #000;
            font-size: 14px;
            text-decoration: none;
            outline: none;
            padding: 5px 15px;
        }

        .atcb-item-link:hover,
        .atcb-item-link:active,
        .atcb-item-link:focus {
            color: #fff;
        }

        .atcb-item.hover,
        .atcb-item:hover {
            background: rgb(66, 129, 244);
        }
    </style>
    <header id="masthead" class="site-header">

        <div class="top-nav">

            <div class="container container-960">

                <a href="index.html" class="site-logo" rel="home"><img src="{% static 'events/img/logo.png' %}" alt=""
                                                                       srcset="{% static 'events/img/logo.png' %} 1x, {% static 'events/img/logo@2x.png' %} 2x"></a>

                <button class="lines-button x toggle-menu" type="button" id="toggle-menu">
                    <span class="lines line-top"></span>
                    <span class="lines line-middle"></span>
                    <span class="lines line-bottom"></span>
                </button><!-- /.lines-button -->

                <nav id="primary-navigation" class="site-navigation">

                    <a href="index.html" class="site-logo visible-xs" rel="home"><img
                            src="{% static 'events/img/logo.png' %}" alt=""
                            srcset="{% static 'events/img/logo.png' %} 1x, {% static 'events/img/logo@2x.png' %} 2x"></a>

                    <ul>
                        <li><a href="/news">News</a></li>
                        <li><a href="/events" class="active">Events</a></li>
                        <li><a href="/officespace">Officespace</a></li>
                        <li><a href="/perks">Perks</a></li>
                        <!--<li><a href="/c/companies">Companies</a></li>-->
                        <!--<li><a href="/c/people">People</a></li>-->
                        {% for page in navbar_pages %}
                            <li><a href="/news/{{ page.id }}">{{ page.title }}</a></li>
                        {% endfor %}
                    </ul>

                </nav><!-- /.site-navigation -->

                <div class="user-profile dropdown">

                    <a class="dropdown-toggle" id="user-dropdown-menu" data-toggle="dropdown" aria-expanded="true">
                        {% notifyUnread request.user.username as unread %}
                        <div class="user-profile-thumb">

                            {% if request.user.profile.image %}
                                <img src="{{ request.user.profile.image.url }}" alt="">
                            {% else %}
                                <img src="{% static 'community/img/avatar.jpg' %}" alt="">
                            {% endif %}

                            {% if unread.unread_exist %}
                                <span class="notify_button__badge"
                                      style="right: 0px; top: 0px; font-size: 10px">{{ unread.count }} </span>
                            {% endif %}

                            <span
                                    class="visible-xs caret"></span></div>
                        <div class="user-profile-meta hidden-xs">
                            <div class="user-profile-meta-inner">
                                {{ request.user.username }}
                            </div>
                        </div>
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="user-dropdown-menu">
                        <li><a data-target="#list-notification-modal" type="button" data-toggle="modal">Notifications
                            {% if unread.unread_exist %}
                                <strong style="color: red;">
                                    [ {{ unread.count }} ]
                                </strong>
                            {% endif %}
                        </a></li>
                        <li><a href="/c/people/{{ request.user.id }}">Profile</a></li>
                        <!--<li><a href="#">Settings</a></li>-->
                        <li class="logout-btn"><a href="/logout">Logout</a></li>
                    </ul>

                </div><!-- /.user-profile -->

            </div><!-- /.container -->

        </div><!-- /.top-nav -->

        <div class="hero event-details-hero">

            <div class="container">

                <div class="hero-text">
                    <p class="event-start-date">From: {{ event.start_date }}</p>
                    <p class="event-end-date">To: {{ event.pub_date }}</p>
                    <h1 class="event.title">{{ event.title }}</h1>
                    <p>posted by <a href="">MediHealth</a></p>
                    <a class="btn btn-transparent-white" href="{{ event.event_url }}">RSVP</a>
                    {% if next %}
                        <a class="btn btn-transparent-white" href="{{ next }}/events"><< Back</a>
                    {% else %}
                        <a class="btn btn-transparent-white" href="/events"><< Back</a>
                    {% endif %}
                </div>
            </div>
        </div>

    </header><!-- /#header -->

    <div id="main" class="site-main">

        <section class="event-details-content">

            <div class="container container-960">

                <div class="row">

                    <div class="col-sm-8">
                        <h3>Description | <a href="edit">Edit</a></h3>

                        <p>{{ event.description | safe }}</p>

                    </div>

                    <div class="col-sm-4">

                        <div class="event-details-sidebar">

                            <h3>Event Details</h3>
                            <div class="form-group">
                                <label for="event-name">Title: </label>
                                <p id="event-name">{{ event.title }}</p>

                            </div>

                            <div class="form-group">
                                <label for="startdatetime">Start date & time: </label>
                                <p id="startdatetime">{{ event.start_date }}</p>

                            </div>
                            <div class="form-group">
                                <label for="enddatetime">End date & time: </label>
                                <p id="enddatetime">{{ event.pub_date }}</p>

                            </div>
                            <div class="form-group">
                                <label for="event-url">Event URL: </label>
                                <p id="event-url">{{ event.event_url }}</p>
                            </div>

                            <br>
                            <div class="event-details-buttons">
                                <a href="{{ event.event_url }}" class="btn btn-transparent-dark">RSVP to this event</a>
                            </div>

                            <a class="btn btn-transparent-dark" type="button" style="margin-top: 13px">
                                    <span class="addtocalendar"
                                          data-calendars="iCalendar, Google Calendar, Outlook">

        <var class="atc_event">
            <var class="atc_date_start">{{ event.start_date | date:'Y-m-d H:i:s' }}</var>
            <var class="atc_date_end">{{ event.pub_date |date:'Y-m-d H:i:s'}}</var>
            <var class="atc_timezone">America/Aruba</var>
            <var class="atc_title">{{ event.title }}</var>
            <var class="atc_description">{{ event.description | fulltext }}</var>
            <var class="atc_location">{{ event.event_url }}</var>
        </var>
                                    </span></a>

                            <br>
                            <div class="social-share" style="margin-top: 100px">
                                <h3>Share Event</h3>
                                <a class="twitter" href="#">Twitter</a>
                                <a class="facebook" href="#">Facebook</a>
                                <a class="email" href="#">Email</a>
                                <a class="linkedin" href="#">LinkedIn</a>
                            </div>

                        </div>

                    </div>

                </div>

            </div><!-- /.container -->


        </section>

        <section class="events-list">

            <div class="container container-960">

                <p class="events-date">Related events</p>

                <div class="row row-eq -height row-margin-1">

                    <div class="col-md-3 col-xs-12">
                        <div class="event-item">
                            <p class="event-date">11am 8 Aug 2017</p>
                            <h2 class="event-name"><a href="#">Fintech Australia: R&amp;D Tech Grants 101 Workshop</a>
                            </h2>
                            <a href="#" class="event-attending">posted by</a>
                        </div><!-- /.event-item -->
                    </div>

                    <div class="col-md-3 col-xs-12">
                        <div class="event-item">
                            <p class="event-date">11am 8 Aug 2017</p>
                            <h2 class="event-name"><a href="#">Fintech Australia: R&amp;D Tech Grants 101 Workshop</a>
                            </h2>
                            <a href="#" class="event-attending">246 attending</a>
                        </div><!-- /.event-item -->
                    </div>

                    <div class="col-md-3 col-xs-12">
                        <div class="event-item">
                            <p class="event-date">5pm 18 Aug 2017</p>
                            <h2 class="event-name"><a href="#">Afternoon Chat</a></h2>
                            <a href="#" class="event-attending">246 attending</a>
                        </div><!-- /.event-item -->
                    </div>

                    <div class="col-md-3 col-xs-12">
                        <div class="event-item">
                            <p class="event-date">11am 8 Aug 2017</p>
                            <h2 class="event-name"><a href="#">Fintech Australia: R&amp;D Tech Grants 101 Workshop</a>
                            </h2>
                            <a href="#" class="event-attending">246 attending</a>
                        </div><!-- /.event-item -->
                    </div>

                </div><!-- /.row -->

            </div>

        </section>

    </div><!-- /#main -->

    {#    <div id="remind-me-modal" class="modal fade" tabindex="-1" role="dialog">#}
    {#        <div class="modal-dialog" role="document">#}
    {#            <div class="modal-content">#}
    {##}
    {#                <div class="modal-body">#}
    {##}
    {#                    <div class="modal-body-left" style="width: 100%">#}
    {##}
    {#                        <h4 class="modal-title" style="align-content: center">Remind me</h4>#}
    {#                        <form class="create-event-form" method="post" action="addNotify/"#}
    {#                              enctype="multipart/form-data">{% csrf_token %}#}
    {#                            <input type="hidden" id="event-id" name="event_id" class="form-control"#}
    {#                                   value="{{ event.id }}"/>#}
    {#                            <div class="form-group">#}
    {#                                <p style="color: #000; font-weight: 700;font-size: large">You will be reminded of the#}
    {#                                    event#}
    {#                                    24 hours before it's due to start</p>#}
    {#                            </div>#}
    {#                            <div class="modal-form-buttons">#}
    {#                                <a data-dismiss="modal" class="pull-left close-btn" href="#">Cancel#}
    {#                                </a>#}
    {#                                <button class="btn btn-dark pull-right" type="submit" style="width: 30%">OK</button>#}
    {#                            </div>#}
    {#                        </form>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div><!-- /.modal-content -->#}
    {#        </div><!-- /.modal-dialog -->#}
    {#    </div>#}

    {#    <div id="list-notification-modal" class="modal fade" tabindex="-1" role="dialog">#}
    {#        <div class="modal-dialog" role="document">#}
    {#            <div class="modal-content">#}
    {##}
    {#                <div class="modal-body">#}
    {##}
    {#                    <div class="modal-body-left" style="width: 100%">#}
    {##}
    {#                        <h4 class="modal-title">Notifications List</h4>#}
    {##}
    {#                        <table class="admin-table table">#}
    {#                            <thead>#}
    {#                            <tr>#}
    {#                                <th>Event Title</th>#}
    {#                                <th>Event Content</th>#}
    {#                                <th class="text-right">Actions</th>#}
    {#                            </tr>#}
    {#                            </thead>#}
    {#                            <tbody>#}
    {#                            {% if unread.unread_exist %}#}
    {#                                {% for item in unread.content %}#}
    {#                                    <tr>#}
    {#                                        <td><a href="?notify={{ item.id }}"><p><strong#}
    {#                                                style="color: #006dcc">{{ item.target }}</strong></p>#}
    {#                                        </a></td>#}
    {#                                        <td>#}
    {#                                            <p style="color: black">{{ item.description }}</p>#}
    {#                                        </td>#}
    {#                                        <td><p style="color: #ba2121">Remind</p></td>#}
    {#                                    </tr>#}
    {#                                {% endfor %}#}
    {#                            {% elif unread.other_exist %}#}
    {#                                {% for item in unread.other_content %}#}
    {#                                    <tr>#}
    {#                                        <td><a href=""><p><strong#}
    {#                                                style="color: green">{{ item.target }}</strong></p>#}
    {#                                        </a></td>#}
    {#                                        <td>#}
    {#                                            <p style="color: black">{{ item.description }}</p>#}
    {#                                        </td>#}
    {#                                        <td><p style="color: #006dcc">Pending</p></td>#}
    {#                                    </tr>#}
    {#                                {% endfor %}#}
    {#                            {% else %}#}
    {#                                <tr>#}
    {#                                    <td><p style="color: #006dcc">No contents</p></td>#}
    {#                                <td></td>#}
    {#                                <td></td>#}
    {#                                </tr>#}
    {#                            {% endif %}#}
    {#                            </tbody>#}
    {#                        </table>#}
    {#                        <div class="modal-form-buttons">#}
    {#                            <a data-dismiss="modal" class="pull-left close-btn" href="#">Close</a>#}
    {#                            <button data-dismiss="modal" class="btn btn-dark pull-right" style="width: 30%">OK#}
    {#                            </button>#}
    {#                        </div>#}
    {#                    </div>#}
    {##}
    {#                </div>#}
    {#            </div><!-- /.modal-content -->#}
    {#        </div><!-- /.modal-dialog -->#}
    {#    </div><!-- /#create-event-modal -->#}

{% endblock %}
{% block customscript %}
    <script>

        $("#reminderTime").datetimepicker({
            format: 'yyyy-mm-dd hh:ii',
            autoclose: true,
            todayBtn: true
        });

        $(document).ready(function () {
            var news_url = window.location.href;
            $('.social-share .twitter').attr('href', 'https://twitter.com/home?status=' + news_url);
            $('.social-share .facebook').attr('href', 'https://www.facebook.com/sharer/sharer.php?u=' + news_url);
            $('.social-share .email').attr('href', 'mailto:?&body=' + news_url);
            $('.social-share .linkedin').attr('href', 'https://www.linkedin.com/shareArticle?mini=true&url=' + news_url);
        })

    </script>
{% endblock %}
