{% extends 'events/base.html' %}
{% block content %}

    {% load staticfiles %}
    {% load notifications_tags %}
    {% load app_filter %}

    <style>
        /* Create the blue navigation bar */
        .navbar {
            background-color: #000000;

        {#            padding: 5px 10px;#}
        }

        /* Define how each icon button should look like */
        .notify_button {
            font-size: 25px;
            color: white;

            display: inline-block; /* Inline elements with width and height. TL;DR they make the icon buttons stack from left-to-right instead of top-to-bottom */
            position: relative; /* All 'absolute'ly positioned elements are relative to this one */
            float: right;
            margin-right: 14px;

        }

        /* Make the badge float in the top right corner of the button */
        .notify_button__badge {
            background-color: #fa3e3e;
            border-radius: 2px;
            color: white;
            padding: 0px 3px;
            font-size: 10px;
            position: absolute; /* Position the badge within the relatively positioned button */
            top: 0;
            right: 0;
        }

        img.resize {
            max-width: 50%;
            max-height: 50%;
        }

        .loader {
            position: relative;
            left: 50%;
            top: 50%;
            z-index: 1;
            width: 150px;
            height: 150px;
            margin: -75px 0 0 -75px;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

        /* Add animation to "page content" */
        .animate-bottom {
            position: relative;
            -webkit-animation-name: animatebottom;
            -webkit-animation-duration: 1s;
            animation-name: animatebottom;
            animation-duration: 1s
        }

        @-webkit-keyframes animatebottom {
            from {
                bottom: -100px;
                opacity: 0
            }
            to {
                bottom: 0px;
                opacity: 1
            }
        }

        @keyframes animatebottom {
            from {
                bottom: -100px;
                opacity: 0
            }
            to {
                bottom: 0;
                opacity: 1
            }
        }
    </style>
    <header id="masthead" class="site-header event-list-header">

        <div class="top-nav">

            <div class="container container-960">
                <a href="index.html" class="site-logo" rel="home"><img src="{% static 'events/img/logo.png' %}" alt=""
                                                                       srcset="{% static 'events/img/logo.png' %} 1x, {% static 'events/img/logo@2x.png' %} 2x"></a>

                <button class="lines-button x toggle-menu" type="button" id="toggle-menu">
                    <span class="lines line-top"></span>
                    <span class="lines line-middle"></span>
                    <span class="lines line-bottom"></span>
                </button><!-- /.lines-button -->

                <nav id="primary-navigation" class="site-navigation">

                    <a href="index.html" class="site-logo visible-xs" rel="home"><img
                            src="{% static 'events/img/logo.png' %}" alt=""
                            srcset="{% static 'events/img/logo.png' %} 1x, {% static 'events/img/logo@2x.png' %} 2x"></a>

                    <ul>
                        <li><a href="/news">News</a></li>
                        <li><a href="/events" class="active">Events</a></li>
                        <li><a href="/officespace">Officespace</a></li>
                        <li><a href="/perks">Perks</a></li>
                        <!--<li><a href="/c/companies">Companies</a></li>-->
                        <!--<li><a href="/c/people">People</a></li>-->
                        {% for page in navbar_pages %}
                            <li><a href="/news/{{ page.id }}">{{ page.title }}</a></li>
                        {% endfor %}
                    </ul>

                </nav><!-- /.site-navigation -->

                <div class="user-profile dropdown">

                    <a class="dropdown-toggle" id="user-dropdown-menu" data-toggle="dropdown" aria-expanded="true">
                        {% notifyUnread request.user.username as unread %}
                        <div class="user-profile-thumb">

                            {% if request.user.profile.image %}
                                <img src="{{ request.user.profile.image.url }}" alt="">
                            {% else %}
                                <img src="{% static 'community/img/avatar.jpg' %}" alt="">
                            {% endif %}

                            {% if unread.unread_exist %}
                                <span class="notify_button__badge"
                                      style="right: 0px; top: 0px; font-size: 10px">{{ unread.count }} </span>
                            {% endif %}

                            <span
                                    class="visible-xs caret"></span></div>
                        <div class="user-profile-meta hidden-xs">
                            <div class="user-profile-meta-inner">
                                {{ request.user.username }}
                            </div>
                        </div>
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="user-dropdown-menu">
                        <li><a data-target="#list-notification-modal" type="button" data-toggle="modal">Notifications
                            {% if unread.unread_exist %}
                                <strong style="color: red;">
                                    [ {{ unread.count }} ]
                                </strong>
                            {% endif %}
                        </a></li>
                        <li><a href="/c/people/{{ request.user.id }}">Profile</a></li>
                        <!--<li><a href="#">Settings</a></li>-->
                        <li class="logout-btn"><a href="/logout">Logout</a></li>
                    </ul>

                </div><!-- /.user-profile -->

            </div><!-- /.container -->
        </div><!-- /.top-nav -->
    </header><!-- /#header -->

    <div id="main" class="site-main">

        <section class="events-info">

            <div class="container">

                <div class="row">

                    <div class="col-sm-6">
                        <div class="events-info-inner">
                            <h2>Events</h2>
                            <p>{{ event_count }} events,<br>
                                {{ user_all }} members,<br>
                                365 days a year</p>

                            <p>Share or attend events here.</p>
                        </div><!-- /.events-info-inner -->
                    </div>

                    <div class="col-sm-6">
                        <form class="event-form">

                            <div class="form-group">
                                <a class="btn btn-dark" id="search_top" href="#filter_bar">Search events</a>
                                <button class="btn btn-transparent-dark" type="button" data-toggle="modal"
                                        data-target="#create-event-modal">Create new event
                                </button>
                            </div>
                        </form><!-- /.event-form -->
                    </div>
                </div>
            </div>
        </section><!-- /.events-info -->

        <section class="next-events">

            <div class="container container-960">

                <div class="row">
                    {% for event_top in event_top_list %}
                        <div class="col-sm-6">
                            <p class="news-category">{{ event_top.start_date|date:"fA j N Y" }}</p>
                            <h2 class="news-title">{{ event_top.title }}</h2>
                            <p class="news-description"><span class="posted-by">posted by<br> <a
                                    href="{{ event_top.id }}">{{ request.user.username }}</a></span>
                                <a href="{{ event_top.id }}" class="rsvp-btn">View Details</a></p>

                        </div>
                    {% endfor %}

                </div>
            </div><!-- /.container -->
        </section><!-- /.next-events -->

        <section id="filter_bar" class="events-list">
            <div class="container container-960">
                <div class="filters-fix">
                    <div class="filters-wrapper">
                        <div class="events-filter ">
                            <ul class="list-unstyled">
                                <li><a id="search" href="#filter_bar">Search events</a></li>
                                <li class="user-tags"><a href="javascript:newEvent();">New</a></li>
                                <li class="user-tags"><a href="javascript:featuredEvent();">Featured</a></li>
                            </ul>
                            <a href="javascript:allEvent();" class="all-events pull-right">All Events...</a>
                        </div><!-- /.events-filter -->

                        <div id="search-form" class="row" style="display: none; padding-left: 7%">
                            <input id="searchBar" class="form-control" type="text"
                                   placeholder="keyword..." style="width: 100%;" onkeyup="realFilter(event)"/>
                        </div>
                    </div>
                </div>

                <div class="loader" style="display: block; margin-top: 10%"></div>

                <div id="event_items">
                    {% include 'events/event-content.html' %}

                </div>
                <nav id="weekEvent" aria-label="Events list navigation" style="display: block;">
                    <ul class="pagination">
                        <li class="text-pagination">
                            <a href="javascript:previous_week();" aria-label="Previous">
                                <span aria-hidden="true">&larr; Prev Week</span>
                            </a>
                        </li>
                        <li class="text-pagination">
                            <a href="javascript:next_week();" aria-label="Next">
                                <span aria-hidden="true">Next Week &rarr;</span>
                            </a>
                        </li>
                    </ul>

                </nav>

            </div><!-- /.container-fluid -->
        </section><!-- /.events-list -->

    </div><!-- /#main -->

    <div id="create-event-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">

                    <div class="modal-body-left" style="width: 100%">

                        <h4 class="modal-title">Add Event</h4>
                        <form class="create-event-form" method="post" action="create/"
                              enctype="multipart/form-data">{% csrf_token %}
                            <div class="form-group">
                                <label for="event-name">Title</label>
                                <input type="text" id="event-name" name="title" class="form-control"
                                       placeholder="Some event">
                            </div>
                            <div class="form-group">
                                <label for="startdatetime">Start date & time</label>
                                <input type="text" id="startdatetime" class="form-control" name="startdatetime"/>

                            </div>
                            <div class="form-group">
                                <label for="enddatetime">End date & time</label>
                                <input type="text" id="enddatetime" class="form-control" name="enddatetime"/>

                            </div>
                            <div class="form-group">
                                <label for="event-url">Event URL</label>
                                <input type="text" id="event-url" class="form-control" name="event-url"
                                       placeholder="https://meetup.com/event/21312312321">
                            </div>

                            <div class="modal-form-buttons">
                                <a data-dismiss="modal" class="pull-left close-btn " href="#">Close</a>
                                <button class="btn btn-dark pull-right" type="submit" style="width: 30%">Add Event
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /#create-event-modal -->

    {#    <div id="list-notification-modal" class="modal fade" tabindex="-1" role="dialog">#}
    {#        <div class="modal-dialog" role="document">#}
    {#            <div class="modal-content">#}
    {##}
    {#                <div class="modal-body">#}
    {##}
    {#                    <div class="modal-body-left" style="width: 100%">#}
    {##}
    {#                        <h4 class="modal-title">Notifications List</h4>#}
    {##}
    {#                        <table class="admin-table table">#}
    {#                            <thead>#}
    {#                            <tr>#}
    {#                                <th>Event Title</th>#}
    {#                                <th>Event Content</th>#}
    {#                                <th class="text-right">Actions</th>#}
    {#                            </tr>#}
    {#                            </thead>#}
    {#                            <tbody>#}
    {#                            {% if unread.unread_exist %}#}
    {#                                {% for item in unread.content %}#}
    {#                                    <tr>#}
    {#                                        <td><a href="{{ item.target_object_id }}?notify={{ item.id }}"><p><strong#}
    {#                                                style="color: #006dcc">{{ item.target }}</strong></p>#}
    {#                                        </a></td>#}
    {#                                        <td>#}
    {#                                            <p style="color: black">{{ item.description }}</p>#}
    {#                                        </td>#}
    {#                                        <td><p style="color: #ba2121">Remind</p></td>#}
    {#                                    </tr>#}
    {#                                {% endfor %}#}
    {#                            {% elif unread.other_exist %}#}
    {#                                {% for item in unread.other_content %}#}
    {#                                    <tr>#}
    {#                                        <td><a href="{{ item.target_object_id }}"><p><strong#}
    {#                                                style="color: green">{{ item.target }}</strong></p>#}
    {#                                        </a></td>#}
    {#                                        <td>#}
    {#                                            <p style="color: black">{{ item.description }}</p>#}
    {#                                        </td>#}
    {#                                        <td><p style="color: #006dcc">Pending</p></td>#}
    {#                                    </tr>#}
    {#                                {% endfor %}#}
    {#                            {% else %}#}
    {#                                <tr>#}
    {#                                    <td><p style="color: #006dcc">No contents</p></td>#}
    {#                                <td></td>#}
    {#                                <td></td>#}
    {#                                </tr>#}
    {#                            {% endif %}#}
    {#                            </tbody>#}
    {#                        </table>#}
    {#                        <div class="modal-form-buttons">#}
    {#                            <a data-dismiss="modal" class="pull-left close-btn" href="#">Close</a>#}
    {#                            <button data-dismiss="modal" class="btn btn-dark pull-right" style="width: 30%">OK#}
    {#                            </button>#}
    {#                        </div>#}
    {#                    </div>#}
    {##}
    {#                </div>#}
    {#            </div><!-- /.modal-content -->#}
    {#        </div><!-- /.modal-dialog -->#}
    {#    </div><!-- /#create-event-modal -->#}

{% endblock %}

{% block customscript %}
    <script>
        var week_num;
        var totalPage;
        var method;
        var value;
        loading();
        $(document).ready(function () {
            check_loading();
            week_num = 1;
            method = 'index';

            $('#search').click(function () {

                if ($("#search-form").is(':visible')) {
                    $("#search-form").fadeOut();
                } else {
                    $("#search-form").fadeIn();
                }
            });

            $('#search_top').click(function () {

                if ($("#search-form").is(':visible')) {
                    $("#search-form").fadeOut();
                } else {
                    $("#search-form").fadeIn();
                }
            });

            $(document.body).click(function (e) {
                //Hide the search bar if visible
                if (e.target.id !== "searchBar" && e.target.id !== "search" && e.target.id !== "search_top") {
                    document.getElementById("searchBar").value = "";
                    $("#search-form").hide();
                }
            });

            $("#startdatetime").datetimepicker({
                format: 'yyyy-mm-dd hh:ii',
                autoclose: true,
                todayBtn: true
            });

            $("#enddatetime").datetimepicker({
                format: 'yyyy-mm-dd hh:ii',
                autoclose: true,
                todayBtn: true
            });


        });
        function check_loading() {
            var everythingLoaded = setInterval(function () {
                if (document.readyState === 'complete') {
                    clearInterval(everythingLoaded);
                    loaded(); // this is the function that gets called when everything is loaded
                }
            }, 10);

        }

        function loaded() {
            console.log('loaded');
            $('.loader').hide();
            $("#article_list").show();

        }

        function loading() {
            $('.loader').show();
            $("#article_list").hide();
        }

        function update_item() {
            loading();
            if (method === 'new') {
                console.log(value);
                $('#event_items').html('').load(
                    "{% url 'newEvents' %}?week_num=" + week_num, function (response, status, xhr) {
                        if (status === "success") {
                            loaded();
                        }
                    }
                );
            }

            else if (method === 'feature') {
                $('#event_items').html('').load(
                    "{% url 'featureEvents' %}?week_num=" + week_num, function (response, status, xhr) {
                        if (status === "success") {
                            loaded();
                        }
                    }
                );
            }

            else if (method === 'search') {
                $('#event_items').html('').load(
                    "{% url 'searchEvents' %}?keyword=" + value + "&&week_num=" + week_num, function (response, status, xhr) {
                        if (status === "success") {
                            loaded();
                        }
                    }
                );
            }
            else {
                $('#event_items').html('').load(
                    "{% url 'updateEvents' %}?week_num=" + week_num, function (response, status, xhr) {
                        if (status === "success") {
                            loaded();
                        }
                    }
                );
            }
        }

        function newEvent() {
            week_num = 0;
            method = 'new';
            update_item();

        }
        function featuredEvent() {
            week_num = 0;
            method = 'feature';
            update_item()
        }
        function allEvent() {
            week_num = 0;
            method = 'index';
            update_item();
        }

        function realFilter(e) {
            if (e.keyCode === 13) {
                searchInput = document.getElementById("searchBar");
                value = searchInput.value.replace(" ", "-");
                method = 'search';
                week_num = 0;
                update_item();
            }
        }

        function previous_week() {
            week_num--;
            update_item();

        }

        function next_week() {
            week_num++;
            update_item();

        }

    </script>
{% endblock %}