{% extends 'events/base.html' %}
{% block content %}

    {% load staticfiles %}
    {% load app_filter %}
    <header id="masthead" class="site-header">

        <div class="top-nav">

            <div class="container container-960">

                <a href="index.html" class="site-logo" rel="home"><img src="{% static 'events/img/logo.png' %}" alt=""
                                                                       srcset="{% static 'events/img/logo.png' %} 1x, {% static 'events/img/logo@2x.png' %} 2x"></a>

                <button class="lines-button x toggle-menu" type="button" id="toggle-menu">
                    <span class="lines line-top"></span>
                    <span class="lines line-middle"></span>
                    <span class="lines line-bottom"></span>
                </button><!-- /.lines-button -->

                <nav id="primary-navigation" class="site-navigation">

                    <a href="index.html" class="site-logo visible-xs" rel="home"><img
                            src="{% static 'events/img/logo.png' %}" alt=""
                            srcset="{% static 'events/img/logo.png' %} 1x, {% static 'events/img/logo@2x.png' %} 2x"></a>

                    <ul>
                        <li><a href="/news">News</a></li>
                        <li><a href="/events" class="active">Events</a></li>
                        <li><a href="/officespace">Officespace</a></li>
                        <!--<li><a href="/c/companies">Companies</a></li>-->
                        <!--<li><a href="/c/people">People</a></li>-->
                        {% for page in navbar_pages %}
                            <li><a href="/news/{{ page.id }}">{{ page.title }}</a></li>
                        {% endfor %}
                    </ul>

                </nav><!-- /.site-navigation -->

                <div class="user-profile dropdown">

                    <a class="dropdown-toggle" id="user-dropdown-menu" data-toggle="dropdown" aria-expanded="true">
                        <div class="user-profile-thumb"><img src="{% static 'events/img/avatar.jpg' %}" alt=""> <span
                                class="visible-xs caret"></span></div>
                        <div class="user-profile-meta hidden-xs">
                            <div class="user-profile-meta-inner">
                                Nick B.
                            </div>
                        </div>
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="user-dropdown-menu">
                        <li><a href="person-profile.html">Profile</a></li>
                        <li><a href="#">Settings</a></li>
                        <li class="logout-btn"><a href="/logout">Logout</a></li>
                    </ul>

                </div><!-- /.user-profile -->

            </div><!-- /.container -->

        </div><!-- /.top-nav -->

        <div class="hero event-details-hero">

            <div class="container">

                <div class="hero-text">
                    <p class="event-start-date">From: {{ event.start_date }}</p>
                    <p class="event-end-date">To: {{ event.pub_date }}</p>
                    <h1 class="event.title">{{ event.title }}</h1>
                    <p>posted by <a href="">MediHealth</a></p>
                    <a class="btn btn-transparent-white" href="{{ event.event_url }}">RSVP</a>
                </div>
            </div>
        </div>

    </header><!-- /#header -->

    <div id="main" class="site-main">

        <section class="event-details-content">

            <div class="container container-960">

                <div class="row">

                    <div class="col-sm-8">
                        <h3>Description | <a href="edit">Edit</a></h3>

                        <p>{{ event.description | safe }}</p>

                    </div>

                    <div class="col-sm-4">

                        <div class="event-details-sidebar">

                            <h3>Event Details</h3>
                            <div class="form-group">
                                <label for="event-name">Title: </label>
                                <p id="event-name">{{ event.title }}</p>

                            </div>

                            <div class="form-group">
                                <label for="startdatetime">Start date & time: </label>
                                <p id="startdatetime">{{ event.start_date}}</p>

                            </div>
                            <div class="form-group">
                                <label for="enddatetime">End date & time: </label>
                                <p id="enddatetime">{{ event.pub_date }}</p>

                            </div>
                            <div class="form-group">
                                <label for="event-url">Event URL: </label>
                                <p id="event-url">{{ event.event_url }}</p>
                            </div>

                            <br>
                            <div class="event-details-buttons">
                                <a href="{{ event.event_url }}" class="btn btn-transparent-dark">RSVP to this event</a>
                                <a href="#" class="btn btn-transparent-dark">Add to calendar</a>
{#                                <a href="#" class="btn btn-transparent-dark">Get directions</a>#}
                            </div>

                            <!--<p class="view-event-btn"><a href="#">View event on Meetup.com</a></p>-->

                            <br>

                            <div class="social-share">
                                <h3>Share Event</h3>
                                <a class="twitter" href="#">Twitter</a>
                                <a class="facebook" href="#">Facebook</a>
                                <a class="email" href="#">Email</a>
{#                                <a class="reddit" href="#">Reddit</a>#}
{#                                <a class="weibo" href="#">Weibo</a>#}
                                <a class="linkedin" href="#">LinkedIn</a>
                            </div>

                        </div>

                    </div>

                </div>

            </div><!-- /.container -->

        </section>

        <section class="events-list">

            <div class="container container-960">

                <p class="events-date">Related events</p>

                <div class="row row-eq-height row-margin-1">

                    <div class="col-md-3 col-xs-12">
                        <div class="event-item">
                            <p class="event-date">11am 8 Aug 2017</p>
                            <h2 class="event-name"><a href="#">Fintech Australia: R&amp;D Tech Grants 101 Workshop</a>
                            </h2>
                            <a href="#" class="event-attending">posted by</a>
                        </div><!-- /.event-item -->
                    </div>

                    <div class="col-md-3 col-xs-12">
                        <div class="event-item">
                            <p class="event-date">11am 8 Aug 2017</p>
                            <h2 class="event-name"><a href="#">Fintech Australia: R&amp;D Tech Grants 101 Workshop</a>
                            </h2>
                            <a href="#" class="event-attending">246 attending</a>
                        </div><!-- /.event-item -->
                    </div>

                    <div class="col-md-3 col-xs-12">
                        <div class="event-item">
                            <p class="event-date">5pm 18 Aug 2017</p>
                            <h2 class="event-name"><a href="#">Afternoon Chat</a></h2>
                            <a href="#" class="event-attending">246 attending</a>
                        </div><!-- /.event-item -->
                    </div>

                    <div class="col-md-3 col-xs-12">
                        <div class="event-item">
                            <p class="event-date">11am 8 Aug 2017</p>
                            <h2 class="event-name"><a href="#">Fintech Australia: R&amp;D Tech Grants 101 Workshop</a>
                            </h2>
                            <a href="#" class="event-attending">246 attending</a>
                        </div><!-- /.event-item -->
                    </div>

                </div><!-- /.row -->

            </div>

        </section>

    </div><!-- /#main -->

{% endblock %}

{% block customscript %}
    <script>
    $(document).ready(function () {
        var news_url = window.location.href;
        $('.social-share .twitter').attr('href', 'https://twitter.com/home?status=' + news_url);
        $('.social-share .facebook').attr('href', 'https://www.facebook.com/sharer/sharer.php?u=' + news_url);
        $('.social-share .email').attr('href', 'mailto:?&body=' + news_url);
        $('.social-share .linkedin').attr('href', 'https://www.linkedin.com/shareArticle?mini=true&url=' + news_url);
    })

    </script>
{% endblock %}