{% extends 'events/base.html' %}
{% block content %}

    {% load staticfiles %}
    <style>
        img.resize {
            max-width: 50%;
            max-height: 50%;
        }
    </style>
    <header id="masthead" class="site-header event-list-header">

        <div class="top-nav">

            <div class="container container-960">

                <a href="index.html" class="site-logo" rel="home"><img src="{% static 'events/img/logo.png' %}" alt=""
                                                                       srcset="{% static 'events/img/logo.png' %} 1x, {% static 'events/img/logo@2x.png' %} 2x"></a>

                <button class="lines-button x toggle-menu" type="button" id="toggle-menu">
                    <span class="lines line-top"></span>
                    <span class="lines line-middle"></span>
                    <span class="lines line-bottom"></span>
                </button><!-- /.lines-button -->

                <nav id="primary-navigation" class="site-navigation">

                    <a href="index.html" class="site-logo visible-xs" rel="home"><img
                            src="{% static 'events/img/logo.png' %}" alt=""
                            srcset="{% static 'events/img/logo.png' %} 1x, {% static 'events/img/logo@2x.png' %} 2x"></a>

                    <ul>
                        <li><a href="/news">News</a></li>
                        <li class="active"><a href="/events">Events</a></li>
                        <li><a href="#">Startups</a></li>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Companies</a></li>
                    </ul>

                </nav><!-- /.site-navigation -->

                <div class="user-profile dropdown">
                    <a class="dropdown-toggle" id="user-dropdown-menu" data-toggle="dropdown" aria-expanded="true">
                        <div class="user-profile-thumb"><img src="{% static 'officespace/img/avatar.jpg' %}" alt="">
                            <span
                                    class="visible-xs caret"></span></div>
                        <div class="user-profile-meta hidden-xs">
                            <div class="user-profile-meta-inner">
                                {{ request.user.username }}
                            </div>
                        </div>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="user-dropdown-menu">
                        <li><a href="person-profile.html">Profile</a></li>
                        <li><a href="#">Settings</a></li>
                        <li class="logout-btn"><a href="/logout">Logout</a></li>
                    </ul>
                </div><!-- /.user-profile -->

            </div><!-- /.container -->

        </div><!-- /.top-nav -->

    </header><!-- /#header -->
    <div id="main" class="site-main">


        <section class="events-info">

            <div class="container">

                <div class="row">

                    <div class="col-sm-6">
                        <div class="events-info-inner">
                            <h2>Events</h2>
                            <p>126 events,<br>
                                2500 members,<br>
                                365 days a year</p>

                            <p>Post or attend for free.</p>
                        </div><!-- /.events-info-inner -->
                    </div>

                    <div class="col-sm-6">
                        <form class="event-form">
                            <div class="form-group mb-30">
                                <label for="find-event">Find an event</label>
                                <input type="text" id="find-event" class="form-control"
                                       placeholder="Beginner’s Code Group">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-dark" type="button">Search YFB events</button>
                                <button class="btn btn-transparent-dark" type="button" data-toggle="modal"
                                        data-target="#create-event-modal">Create new event
                                </button>
                            </div>
                        </form><!-- /.event-form -->
                    </div>

                </div>

            </div>

        </section><!-- /.events-info -->


        <section class="next-events">

            <div class="container container-960">

                <div class="row">
                    <div class="col-sm-6">

                        <p class="news-category">11am 8 Aug 2017</p>
                        <h2 class="news-title">Fintech Australia:<br> R&amp;D Tech Grants 101 Workshop</h2>
                        <p class="news-description"><span class="posted-by">posted by<br> <a href="#">Xero</a></span> <a
                                href="#" class="rsvp-btn">RSVP</a></p>

                    </div>

                    <div class="col-sm-6">

                        <p class="news-category">11am 8 Aug 2017</p>
                        <h2 class="news-title">DisruptHealth: A Primer for Entrepenuers, Professionals and
                            Patients.</h2>
                        <p class="news-description"><span class="posted-by">posted by<br> <a href="#">BlockChain AU</a></span>
                            <a href="#" class="rsvp-btn">RSVP</a></p>

                    </div>

                </div>

            </div><!-- /.container -->

        </section><!-- /.next-events -->

        <section class="events-list">

            <div class="container container-960">

                <div class="filters-fix">

                    <div class="filters-wrapper">

                        <div class="events-filter">
                            <span class="filter-label">Search</span>
                            <ul class="list-unstyled">
                                <li><a href="#">Popular</a></li>
                                <li><a href="#">New</a></li>
                                <li><a href="#">Featured</a></li>
                            </ul>
                            <a href="#" class="all-events pull-right">All Events...</a>
                        </div><!-- /.events-filter -->
                    </div>

                </div>

                {% if event_list %}

                    {% regroup event_list by start_date|date:"Y-m-d" as events_by_day %}

                    {% for day in events_by_day %}
                        <div class="row row-margin-1">
                            <div class="col-sm-12 col-xs-12">
                                <p class="events-date">{{ day.list.0.start_date|date:"l\, F j" }}</p>
                            </div>
                            {% for event in day.list %}
                                <div class="col-sm-3 col-xs-12">
                                    <div class="event-item">
                                        <p class="event-date">{{ event.start_date|date:"fA j N Y" }}</p>
                                        <h2 class="event-name"><a href="{{ event.id }}">{{ event.title }}</a></h2>
                                        <a href="#" class="event-attending">posted by</a>
                                    </div><!-- /.event-item -->
                                </div>
                            {% endfor %}

                        </div><!-- /.row -->
                    {% endfor %}

                {% else %}
                    <p>Nothing this week!</p>
                {% endif %}


                <nav aria-label="Events list navigation">
                    <ul class="pagination">
                        <li class="text-pagination">
                            <a href="?week={{ previous_week }}" aria-label="Previous">
                                <span aria-hidden="true">&larr; Prev Week</span>
                            </a>
                        </li>
                        <li class="text-pagination">
                            <a href="?week={{ next_week }}" aria-label="Next">
                                <span aria-hidden="true">Next Week &rarr;</span>
                            </a>
                        </li>
                    </ul>

                </nav>

            </div><!-- /.container-fluid -->

        </section><!-- /.events-list -->

    </div><!-- /#main -->

    <div id="create-event-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">

                    <div class="modal-body-left">

                        <h4 class="modal-title">Add Event</h4>
                        <form class="create-event-form" method="post" action="create/">{% csrf_token %}
                            <div class="form-group">
                                <label for="event-name">Title</label>
                                <input type="text" id="event-name" name="title" class="form-control"
                                       placeholder="Some event">
                            </div>
                            <div class="form-group">
                                <label for="event-time">Start date & time</label>
                                <div class="date-group">
                                    <input type="text" id="start-time" name="start-time" class="form-control"
                                           placeholder="6pm">
                                    <input type="text" id="start-date" class="form-control" name="start-date"
                                           placeholder="August 17 2017">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="event-time">End date & time</label>
                                <div class="date-group">
                                    <input type="text" id="end-time" class="form-control" name="end-time"
                                           placeholder="6pm">
                                    <input type="text" id="end-date" class="form-control" name="end-date"
                                           placeholder="August 17 2017">

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="event-url">Event URL</label>

                                <input type="text" id="event-url" class="form-control" name="event-url"
                                       placeholder="https://meetup.com/event/21312312321">

                            </div>
                            <div style="height:0px;overflow: hidden;">
                                <input type="file" id="featureImage" name="featureImage"/>
                            </div>

                            <div class="modal-form-buttons">
                                <a data-dismiss="modal" class="pull-left close-btn hidden-xs" href="#">Close</a>
                                <button class="btn btn-dark pull-right" type="submit">Add Event</button>
                            </div>
                        </form>
                    </div>

                    <div class="modal-body-right">
                        <div class="create-event-inner">
                            <p>Help your event stand out.</p>
                            <a href="javascript:void(0);" onclick="chooseFile();">Add image</a>
                            <img id="previewImage" src="#" class="resize" style="padding-top: 10%"/>

                        </div>
                    </div>

                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /#create-event-modal -->

{% endblock %}

{% block customscript %}
    <script>
        function chooseFile() {
            $("#featureImage").click();
        }
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#previewImage').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#featureImage").change(function () {
            readURL(this);
        });

    </script>

{% endblock %}