{% extends 'events/base.html' %}
{% block content %}

    {% load staticfiles %}
    <style>
        img.resize {
            max-width: 50%;
            max-height: 50%;
        }
    </style>
    <header id="masthead" class="site-header event-list-header">

        <div class="top-nav">

            <div class="container container-960">
                <a href="index.html" class="site-logo" rel="home"><img src="{% static 'events/img/logo.png' %}" alt=""
                                                                       srcset="{% static 'events/img/logo.png' %} 1x, {% static 'events/img/logo@2x.png' %} 2x"></a>

                <button class="lines-button x toggle-menu" type="button" id="toggle-menu">
                    <span class="lines line-top"></span>
                    <span class="lines line-middle"></span>
                    <span class="lines line-bottom"></span>
                </button><!-- /.lines-button -->

                <nav id="primary-navigation" class="site-navigation">

                    <a href="index.html" class="site-logo visible-xs" rel="home"><img
                            src="{% static 'events/img/logo.png' %}" alt=""
                            srcset="{% static 'events/img/logo.png' %} 1x, {% static 'events/img/logo@2x.png' %} 2x"></a>

                    <ul>
                        <li><a href="/news">News</a></li>
                        <li><a href="/events" class="active">Events</a></li>
                        <li><a href="/officespace">Officespace</a></li>
                        <!--<li><a href="/c/companies">Companies</a></li>-->
                        <!--<li><a href="/c/people">People</a></li>-->
                        {% for page in navbar_pages %}
                            <li><a href="/news/{{ page.id }}">{{ page.title }}</a></li>
                        {% endfor %}  
                    </ul>

                </nav><!-- /.site-navigation -->

                <div class="user-profile dropdown">
                    <a class="dropdown-toggle" id="user-dropdown-menu" data-toggle="dropdown" aria-expanded="true">
                        <div class="user-profile-thumb"><img src="{% static 'officespace/img/avatar.jpg' %}" alt="">
                            <span
                                    class="visible-xs caret"></span></div>
                        <div class="user-profile-meta hidden-xs">
                            <div class="user-profile-meta-inner">
                                {{ request.user.username }}
                            </div>
                        </div>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="user-dropdown-menu">
                        <li><a href="person-profile.html">Profile</a></li>
                        <li><a href="#">Settings</a></li>
                        <li class="logout-btn"><a href="/logout">Logout</a></li>
                    </ul>
                </div><!-- /.user-profile -->

            </div><!-- /.container -->

        </div><!-- /.top-nav -->

    </header><!-- /#header -->
    <div id="main" class="site-main">

        <section class="events-info">

            <div class="container">

                <div class="row">

                    <div class="col-sm-6">
                        <div class="events-info-inner">
                            <h2>Events</h2>
                            <p>{{ event_count }} events,<br>
                                {{ user_all }} members,<br>
                                365 days a year</p>

                            <p>Share or attend events here.</p>
                        </div><!-- /.events-info-inner -->
                    </div>

                    <div class="col-sm-6">
                        <form class="event-form">

                            <div class="form-group">
                                <a class="btn btn-dark" id="search_top" href="#filter_bar">Search events</a>
                                <button class="btn btn-transparent-dark" type="button" data-toggle="modal"
                                        data-target="#create-event-modal">Create new event
                                </button>
                            </div>
                        </form><!-- /.event-form -->
                    </div>
                </div>
            </div>
        </section><!-- /.events-info -->

        <section class="next-events">

            <div class="container container-960">

                <div class="row">
                    {% for event_top in event_top_list %}
                    <div class="col-sm-6">
                        <p class="news-category">{{ event_top.start_date|date:"fA j N Y" }}</p>
                        <h2 class="news-title">{{ event_top.title }}</a></h2>
                        <p class="news-description"><span class="posted-by">posted by<br> <a href="{{ event_top.id }}">{{ request.user.username }}</a></span>
                            <a href="{{ event_top.id }}" class="rsvp-btn">View Details</a></p>

                    </div>
                    {% endfor %}

                </div>
            </div><!-- /.container -->
        </section><!-- /.next-events -->

        <section id="filter_bar" class="events-list">
            <div class="container container-960">
                <div class="filters-fix">
                    <div class="filters-wrapper">
                        <div class="events-filter  news-filter">
                            <ul class="list-unstyled">
                                <li><a id="search" href="#filter_bar">Search events</a></li>
                                <li><a href="javascript:newEvent();">New</a></li>
                                <li><a href="javascript:featuredEvent();">Featured</a></li>
                            </ul>
                            <a href="javascript:allEvent();" class="all-events pull-right">All Events...</a>
                        </div><!-- /.events-filter -->

                        <div class="events-filter">
                            <div id="search-form" class="row" style="display: none; padding-left: 7%">
                                <input id="searchBar" class="form-control" type="text"
                                       placeholder="keyword..."
                                       style="width: 100%;" onkeyup="realFilter(event)"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="event_items">
                    {% include 'events/event-content.html' %}

                </div>
                <nav id="weekEvent" aria-label="Events list navigation" style="display: block;">
                    <ul class="pagination">
                        <li class="text-pagination">
                            <a href="javascript:previous_week();" aria-label="Previous">
                                <span aria-hidden="true">&larr; Prev Week</span>
                            </a>
                        </li>
                        <li class="text-pagination">
                            <a href="javascript:next_week();" aria-label="Next">
                                <span aria-hidden="true">Next Week &rarr;</span>
                            </a>
                        </li>
                    </ul>

                </nav>

            </div><!-- /.container-fluid -->
        </section><!-- /.events-list -->

    </div><!-- /#main -->

    <div id="create-event-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="width: 80%; padding-left: 20%">
            <div class="modal-content" style="width: 60%;">

                <div class="modal-body">

                    <div class="modal-body-left" style="width: 100%">

                        <h4 class="modal-title">Add Event</h4>
                        <form class="create-event-form" method="post" action="create/"
                              enctype="multipart/form-data">{% csrf_token %}
                            <div class="form-group">
                                <label for="event-name">Title</label>
                                <input type="text" id="event-name" name="title" class="form-control"
                                       placeholder="Some event">
                            </div>
                            <div class="form-group">
                                <label for="startdatetime">Start date & time</label>
                                <input type="text" id="startdatetime" class="form-control" name="startdatetime" />

                            </div>
                            <div class="form-group">
                                <label for="enddatetime">End date & time</label>
                                <input type="text" id="enddatetime" class="form-control" name="enddatetime"/>

                            </div>
                            <div class="form-group">
                                <label for="event-url">Event URL</label>
                                <input type="text" id="event-url" class="form-control" name="event-url"
                                       placeholder="https://meetup.com/event/21312312321">
                            </div>

                            <div class="modal-form-buttons">
                                <a data-dismiss="modal" class="pull-left close-btn hidden-xs" href="#">Close</a>
                                <button class="btn btn-dark pull-right" type="submit">Add Event</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /#create-event-modal -->

{% endblock %}

{% block customscript %}
    <script>
        var week_num;
        var totalPage;
        var method;
        var value;
        $(document).ready(function () {
            week_num = 1;
            method = 'index';

            $('#search').click(function () {

                if ($("#search-form").is(':visible')) {
                    $("#search-form").fadeOut();
                } else {
                    $("#search-form").fadeIn();
                }
            });

            $('#search_top').click(function () {

                if ($("#search-form").is(':visible')) {
                    $("#search-form").fadeOut();
                } else {
                    $("#search-form").fadeIn();
                }
            });

            $(document.body).click(function (e) {
                //Hide the search bar if visible
                if (e.target.id !== "searchBar" && e.target.id !== "search" && e.target.id !== "search_top") {
                    document.getElementById("searchBar").value = "";
                    $("#search-form").hide();
                }
            });

            $("#startdatetime").datetimepicker({
                format: 'yyyy-mm-dd hh:ii',
                autoclose: true,
                todayBtn: true
            });

            $("#enddatetime").datetimepicker({
                format: 'yyyy-mm-dd hh:ii',
                autoclose: true,
                todayBtn: true
            });

        });

        function update_item() {
            if (method === 'new') {
                console.log(value);
                $('#event_items').html('').load(
                    "{% url 'new' %}?week_num=" + week_num
                );
            }

            else if (method === 'feature') {
                $('#event_items').html('').load(
                    "{% url 'feature' %}?week_num=" + week_num
                );
            }

            else if (method === 'search') {
                $('#event_items').html('').load(
                    "{% url 'search' %}?keyword=" + value + "&&week_num=" + week_num
                );
            }
            else {
                $('#event_items').html('').load(
                    "{% url 'update' %}?week_num=" + week_num
                );
            }
        }

        function newEvent() {
            week_num = 0;
            method = 'new';
            update_item();

        }
        function featuredEvent() {
            week_num = 0;
            method = 'feature';
            update_item()
        }
        function allEvent() {
            week_num = 0;
            method = 'index';
            update_item();
        }

        function realFilter(e) {
            if (e.keyCode === 13) {
                searchInput = document.getElementById("searchBar");
                value = searchInput.value;
                method = 'search';
                week_num = 0;
                update_item();
            }
        }

        function previous_week() {
            week_num--;
            update_item();

        }

        function next_week() {
            week_num++;
            update_item();

        }

    </script>
{% endblock %}