{% load staticfiles %}
{% if logged %}
    <div class="top-nav">

        <div class="container container-960">

            <a href="/" class="site-logo" rel="home"><img src="{% static 'home/img/logo.png' %}" alt=""
                                                          srcset="{% static 'home/img/logo.png' %} 1x, {% static 'home/img/logo@2x.png' %} 2x"></a>


        </div><!-- /.container -->

    </div><!-- /.top-nav -->

{% else %}
    <div class="top-nav">

        <div class="container container-960">

            <a href="/" class="site-logo" rel="home"><img src="{% static 'news/assets/img/logo.png' %}" alt=""
                                                          srcset="{% static 'news/img/logo.png' %} 1x, {% static 'news/img/logo@2x.png' %} 2x"></a>

            <button class="lines-button x toggle-menu" type="button" id="toggle-menu">
                <span class="lines line-top"></span>
                <span class="lines line-middle"></span>
                <span class="lines line-bottom"></span>
            </button><!-- /.lines-button -->

            <nav id="primary-navigation" class="site-navigation">

                <a href="/" class="site-logo visible-xs" rel="home"><img src="{% static 'news/img/logo.png' %}"
                                                                         alt=""
                                                                         srcset="{% static 'news/img/logo.png' %} 1x, {% static 'news/img/logo@2x.png' %} 2x"></a>

                <ul>
                    <li><a href="/news">News</a></li>
                    <li class="active"><a href="/events">Events</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="/c/companies">Companies</a></li>
                        <li><a href="/c/people">People</a></li>
                        <li><a href="/officespace">Officespace</a></li>
                        <li><a href="/perks">Perks</a></li>
                        {% for page in navbar_pages %}
                            <li><a href="/news/{{ page.id }}">{{ page.title }}</a></li>
                        {% endfor %}
                    {% endif %}
                </ul>

            </nav><!-- /.site-navigation -->

            <div class="user-profile dropdown">
                <a class="dropdown-toggle" id="user-dropdown-menu" data-toggle="dropdown" aria-expanded="true">
                    {% if user.is_authenticated %}
                        <div class="user-profile-thumb">

                            {% if request.user.profile.image %}
                                <img src="{{ request.user.profile.image.url }}" alt="">
                            {% else %}
                                <img src="{% static 'news/img/avatar.png' %}" alt="">
                            {% endif %}

                            <span class="visible-xs caret"></span></div>
                    {% endif %}
                    <div class="user-profile-meta hidden-xs">
                        <div class="user-profile-meta-inner">
                            {% if user.is_authenticated %}
                                {{ request.user.username }}
                            {% else %}
                                 <button class="btn btn-transparent-white" type="button" data-toggle="modal"
                            data-target="#login-modal">Sign-in
                    </button>
                            {% endif %}
                        </div>
                    </div>
                </a>
                {% if user.is_authenticated %}
                    <ul class="dropdown-menu" aria-labelledby="user-dropdown-menu">
                        <li><a href="/c/people/{{ request.user.id }}">Profile</a></li>
                        <!--<li><a href="#">Settings</a></li>-->
                        <li class="logout-btn"><a href="/logout">Logout</a></li>
                    </ul>
                {% endif %}
            </div><!-- /.user-profile -->
        </div><!-- /.top-nav -->
    </div>
    {% include 'events/modal/login-signup.html' %}
{% endif %}