<!DOCTYPE html>
<html lang="en">
<head>

  {% load staticfiles %}

    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Butter Factory</title>

    <meta name="description" content="At YBF, we have one goal: To maximise the success of startups that call YBF ... we've designed and built an ecosystem to maximise your startups' success.">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Favicon
    ================================================== -->
    <link rel="shortcut icon" type="image/png" href="img/favicon.ico">
    <link rel="icon" type="image/x-icon" href="{% static 'home/img/favicon.ico' %}">

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="{% static 'home/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'home/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'home/css/responsive.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <header id="masthead" class="site-header" style="height:100%">

        <div class="top-nav">

            <div class="container container-960">

                <a href="/" class="site-logo" rel="home"><img src="{% static 'home/img/logo.png' %}" alt="" srcset="{% static 'home/img/logo.png' %} 1x, {% static 'home/img/logo@2x.png' %} 2x"></a>


            </div><!-- /.container -->

        </div><!-- /.top-nav -->

        <div class="hero">
            <div class="container">

                {% if request.GET.login %}

                <div class="hero-text">

                    <h1 class="hero-title">Create communities and work together.</h1>
                    <p>
                        <div class="alert alert-danger alert-dismissable fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                        {{ request.session.error_message }}
                        </div>

                    </p>
                </div>

                <form class="hero-form" method="POST" action="/">
                    
                    {% csrf_token %}

                    <div class="form-group mb-30">
                        <label for="user-email">Email</label>
                        <input type="email" name="login-email" id="login-email" class="form-control" placeholder="hello@teamedup.com.au">

                        <label for="user-email">Password</label>
                        <input type="password" name="login-password" id="login-password" class="form-control" placeholder="Enter your password">

                    </div>
                    <div class="form-group">
                        <button class="btn btn-transparent-white" type="submit" data-toggle="modal" data-target="#login-modal">Log in to your account...</button>
                        <a class="forget-password" style="color:white" href="/password_reset">Forgot your password?</a>
                    </div>

                </form>

                {% elif request.GET.signup %}

                <div class="hero-text">

                    <h1 class="hero-title">Please try and signup again.</h1>
                    <p>
                        <div class="alert alert-danger alert-dismissable fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                        {{ request.session.error_message }}
                        </div>

                    </p>
                </div>                

                <form class="signup-form hero-form" method="post" action='/signup/'>

                    {% csrf_token %}
                    <div class="form-group mb-30">
                        <label for="signup-firstname">Firstname</label>
                        <input type="text" id="signup-firstname" name="signup-firstname" class="form-control" placeholder="Sarah">
                                
                        <label for="signup-lastname">Lastname</label>
                        <input type="text" id="signup-lastname" name="signup-lastname" class="form-control" placeholder="Smith">
                                
                        <label for="signup-">Email Address</label>
                        <input type="email" id="signup-email" name="signup-email" class="form-control" placeholder="hello@teamedup.com.au">
                                
                        <label for="signup-password">Password</label>
                        <input type="password" id="signup-password" name="signup-password" class="form-control" placeholder="Enter your password">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-transparent-white" type="submit">Sign up</button>
                    </div>

                </form>

                {% else %}

                <div class="hero-text">

                    <h1 class="hero-title">Sorry, something appears to be off...</h1>
                    <p>
                    {{ request.session.error_message }}
                    </p>
                </div>

                {% endif %}




            </div>
        </div><!-- /.hero -->

    </header><!-- /#header -->


    <div id="main" class="site-main">


        

    </div><!-- /#main -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'home/js/script.js' %}"></script>
  
</body>
</html>