<!DOCTYPE html>
<html lang="en">
<head>

    {% load staticfiles %}

    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block page_title %}Butter Factory - Officespace{% endblock page_title %}</title>

    <meta name="description"
          content="At YBF, we have one goal: To maximise the success of startups that call YBF ... we've designed and built an ecosystem to maximise your startups' success.">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Favicon
    ================================================== -->
    <link rel="shortcut icon" type="image/png" href="{% static 'officespace/img/favicon.ico' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'officespace/img/favicon.ico' %}">

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="{% static 'officespace/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="{% static 'officespace/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'officespace/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'officespace/css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'officespace/css/officespace.css' %}" rel="stylesheet">
    <link href="{% static 'officespace/css/font-awesome.css' %}" rel="stylesheet">

    <!-- Bootstrap Datetimepicker CSS -->
    <link href="{% static 'officespace/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">

    <!-- FullCalendar CSS -->
    <link href="{% static 'officespace/css/fullcalendar.min.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    {% block body %}
        {% block header %}
        <header id="masthead" class="site-header">
            <div class="top-nav">
                <div class="container container-960">
                    <a href="/" class="site-logo" rel="home">
                        <img src="{% static 'officespace/assets/img/logo.png' %}" alt="" srcset="{% static 'officespace/img/logo.png' %} 1x, {% static 'officespace/img/logo@2x.png' %} 2x">
                    </a>
                    <button class="lines-button x toggle-menu" type="button" id="toggle-menu">
                        <span class="lines line-top"></span>
                        <span class="lines line-middle"></span>
                        <span class="lines line-bottom"></span>
                    </button><!-- /.lines-button -->

                    <nav id="primary-navigation" class="site-navigation">
                        <a href="index.html" class="site-logo visible-xs" rel="home">
                            <img src="{% static 'officespace/img/logo.png' %}" alt="" srcset="{% static 'officespace/img/logo.png' %} 1x, {% static 'officespace/img/logo@2x.png' %} 2x">
                        </a>
                        <ul>
                    <ul>
                        <li><a href="/news">News</a></li>
                        <li><a href="/events" class="active">Events</a></li>
                        <li class="active"><a href="/officespace">Officespace</a></li>
                        <!--<li><a href="/c/companies">Companies</a></li>-->
                        <!--<li><a href="/c/people">People</a></li>-->
                        {% for page in navbar_pages %}
                            <li><a href="/news/{{ page.id }}">{{ page.title }}</a></li>
                        {% endfor %}  
                    </ul>
                        </ul>
                    </nav><!-- /.site-navigation -->

                    <div class="user-profile dropdown">
                        <a class="dropdown-toggle" id="user-dropdown-menu" data-toggle="dropdown" aria-expanded="true">
                            <div class="user-profile-thumb"><img src="{% static 'officespace/img/avatar.jpg' %}" alt=""> <span
                                    class="visible-xs caret"></span></div>
                            <div class="user-profile-meta hidden-xs">
                                <div class="user-profile-meta-inner">
                                    {{ request.user.username }}
                                </div>
                            </div>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="user-dropdown-menu">
                            <li><a href="person-profile.html">Profile</a></li>
                            <li><a href="#">Settings</a></li>
                            <li class="logout-btn"><a href="/logout">Logout</a></li>
                        </ul>
                    </div><!-- /.user-profile -->
                </div><!-- /.container -->
            </div><!-- /.top-nav -->
        </header><!-- /#header -->
        {% endblock %}
        <div id="main" class="site-main officespace">
            <div class="container container-960">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        {% block footer %}
        <footer id="colophon" class="site-footer pages-footer">
            <div class="container container-960">
                <div class="row">
                    <div class="footer-col">
                        <a href="#" class="site-logo" rel="home"><img src="{% static 'officespace/img/logo.png' %}" alt=""></a>
                    </div><!-- /.footer-col -->
                    <div class="footer-col">
                        <h4>News</h4>
                        <ul>
                            <li><a href="#">Current</a></li>
                            <li><a href="#">Archive</a></li>
                            <li><a href="#">Submit a story</a></li>
                        </ul>
                    </div><!-- /.footer-col -->
                    <div class="footer-col">
                        <h4>Events</h4>
                        <ul>
                            <li><a href="#">Browse</a></li>
                            <li><a href="#">Attending</a></li>
                            <li><a href="#">Manage</a></li>
                        </ul>
                    </div><!-- /.footer-col -->
                    <div class="footer-col">
                        <h4>Startups</h4>
                        <ul>
                            <li><a href="#">Browse</a></li>
                            <li><a href="#">Manage</a></li>
                        </ul>
                    </div><!-- /.footer-col -->
                    <div class="footer-col">
                        <h4>Companies</h4>
                        <ul>
                            <li><a href="#">Browse</a></li>
                            <li><a href="#">Manage</a></li>
                        </ul>
                    </div><!-- /.footer-col -->
                    <div class="footer-col">
                        <h4>Jobs</h4>
                        <ul>
                            <li><a href="#">Browse</a></li>
                            <li><a href="#">Manage</a></li>
                        </ul>
                    </div><!-- /.footer-col -->
                    <div class="footer-col">
                        <h4>Officespace</h4>
                    </div><!-- /.footer-col -->
                    <div class="footer-col">
                        <h4>Profile</h4>
                        <ul>
                            <li><a href="#">Your Activity</a></li>
                            <li><a href="#">Edit Profile</a></li>
                        </ul>
                    </div><!-- /.footer-col -->
                    <div class="footer-col">
                        <h4>Company</h4>
                        <ul>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">About YBF</a></li>
                            <li><a href="#">Terms of service</a></li>
                            <li><a href="#">Legal</a></li>
                        </ul>
                    </div><!-- /.footer-col -->
                    <div class="footer-col pull-right text-right">
                        <ul>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">LinkedIn</a></li>
                        </ul>
                    </div><!-- /.footer-col -->
                </div>
            </div><!-- /.container -->
        </footer><!-- /#footer -->
        {% endblock %}
    {% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'officespace/js/jquery.min.js' %}"></script>
    <script src="{% static 'officespace/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'officespace/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'officespace/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'officespace/js/script.js' %}"></script>
    <script src="{% static 'officespace/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'officespace/js/moment.min.js' %}"></script>
    <script src="{% static 'officespace/js/moment-timezone-with-data.js' %}"></script>
    <script src="{% static 'officespace/js/fullcalendar.min.js' %}"></script>
    {% block customscript %}
    {% endblock %}

</body>
</html>
