{% extends 'officespace/base.html' %}
{% block content %}
    <h2 class="text-center">Office Space @ YBF</h2>
    <div class="booking-action">
		<a href="{% url 'booking_create' %}" class="">New Booking</a>
		<a href="{% url 'booking_list' %}" class="">Your Bookings</a>
    </div>
    <div class="bookings">
    	<div class="pull-left" style="width: 80%;">
    		<div class="booking">
    			<table id="bookings_table" class="table table-striped" cellspacing="0" width="100%">
    				<thead style="display: none;">
						<tr>
							<th>Info</th>
							<th>Action</th>
						</tr>
				    </thead>
				    <tbody>
				    	{% for booking in object_list %}
					    <tr>
					    	<td>
    							<p>Space // {{ booking.room.category }}</p>
					    		<h2>{{ booking.room }}</h2>
		    					<span>{{ booking.time_start }} - {{ booking.time_end }}</span>
		    					<span>{{ booking.booked_date }}</span>
					    	</td>
						    <td class="actions text-right" style="vertical-align: middle;">
						    	<a href="{% url 'booking_detail' booking.id %}"><span class="glyphicon glyphicon-eye-open"></span></a>
						    	<a href="{% url 'booking_edit' booking.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
						    	<a href="#" data-href="{% url 'booking_del' booking.id %}" data-toggle="modal" data-target="#deleteModal"><span class="glyphicon glyphicon-trash"></span></a>
				        	</td>
					    </tr>
					    {% endfor %}
					</tbody>
				</table>
    		</div>
    	</div>
    	<div class="pull-right" style="width: 15%">
    		<p>Filter by Type</p>
    		<a href="">Meeting Space</a>
    		<a href="">Teleconference Room</a>
    		<a href="">Workspaces</a>
    		<a href="">Misc</a>
    	</div>
    	<div class="clearfix"></div>
    </div>
	{% include "officespace/modal/delete_confirm.html" %}
{% endblock %}
