{% extends 'officespace/base.html' %}
{% block content %}
    <h2 class="text-center booking-title">Office Space @ YBF</h2>
    <div class="booking-create">
        <div class="bookings-action">
            <a href="{% url 'booking_create' %}" class="create-link mr-20">New Booking</a>
    		<a href="{% url 'booking_list' %}" class="">Your Bookings</a>
            <button type="button" class="pull-right start-over btn btn-transparent-dark">Start Over</button>
            <div class="clearfix"></div>
        </div>
        <div class="bookings">
        	<div class="bookings-option">
        		<div class="choose-room pull-left col-xs-12 col-sm-5 col-md-5 well">
        			<span>Filter rooms</span>
        			<select class="form-control" id="search_room" disabled>
        				<option value=""></option>
                        {% for room in rooms %}
        				<option value="{{ room.id }}">{{ room.name }}</option>
                        {% endfor %}
        			</select>
        		</div>
{#        		<div class="choose-time pull-right col-xs-12 col-sm-6 col-md-6 well">#}
{#        			<span>Choose by Time</span>#}
{#                    <form method="get" action="{% url 'booking_create' %}?type=search" id="form_search_time">#}
{#            			<div class="form-group">#}
{#                            <input type="hidden" value="search" name="type" />#}
{#        					<input type=text class="form-control" name="date_start" id="time_start" required placeholder="Start time" {% if start_date != '' and end_date != '' %}value="{{ start_date_value }}"{% endif %}>&nbsp&nbsp&nbspto&nbsp&nbsp#}
{#        					<input type="text" class="form-control" name="date_end" id="time_end" required placeholder="End time" {% if start_date != '' and end_date != '' %}value="{{ end_date_value }}"{% endif %}>#}
{#                            <input type="submit" class="btn btn-transparent-dark" id="search_time" value="Search">#}
{#            			</div>#}
{#                    </form>#}
{#        		</div>#}
                <div class="clearfix"></div>
        	</div>
            {% if start_date != '' and end_date != '' %}
            <div class="alert alert-success alert-dismissable fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                Showing available rooms from {{ start_date }} to {{ end_date }}
            </div>
            {% endif %}
            <div class="booking">
                <div class="choose-room" style="display: none;">
                    <div id='calendar'></div>
                </div>
                <div class="choose-time">
                	<div class="pull-left table-section">
            			<table id="bookings_table" class="table" cellspacing="0" width="100%">
            				<thead style="display: none;">
        						<tr>
                                    <th></th>
        							<th>Info</th>
        							<th>Action</th>
                                    <th></th>
        						</tr>
        				    </thead>
        				    <tbody>
        				    	{% for room in rooms %}
        					    <tr>
                                    <td>
                                        <span style="display: none;">{{ room.id }}</span>
                                    </td>
        					    	<td class="details">
            							<p>Space // {{ room.category }}</p>
        					    		<h4>{{ room.name }}</h4>
        					    	</td>
        						    <td class="actions text-right">
                                        <input type="hidden" class="room-id" value="{{ room.id }}" />
        						    	<button type="button" class="btn btn-transparent-dark">Book Room</button>
        				        	</td>
                                    <td></td>
            				    </tr>
        					    {% endfor %}
        					</tbody>
        				</table>
                	</div>
                	<div class="pull-right filter-section">
                		<p class="mb-20">Filter by Type</p>
                        <a href="{% url 'booking_create' %}?room_type=all" class="{% if room_type == 'all' %}active-type{% endif %} btn btn-transparent-green text-center mb-10">Reveals All</a>
                		<a href="{% url 'booking_create' %}?room_type=meeting" class="{% if room_type == 'meeting' %}active-type{% endif %} btn btn-transparent-green text-center mb-10">Meeting Space</a>
                		<a href="{% url 'booking_create' %}?room_type=tele" class="{% if room_type == 'tele' %}active-type{% endif %} btn btn-transparent-green text-center mb-10">Teleconference</a>
                		<a href="{% url 'booking_create' %}?room_type=work" class="{% if room_type == 'work' %}active-type{% endif %} btn btn-transparent-green text-center mb-10">Workspaces</a>
                		<a href="{% url 'booking_create' %}?room_type=misc" class="{% if room_type == 'misc' %}active-type{% endif %} btn btn-transparent-green text-center mb-10">Misc</a>
                	</div>
                	<div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    {% include "officespace/modal/booking_create.html" %}
{% endblock %}
