{% extends 'officespace/base.html' %}
{% block content %}
    <h2 class="text-center booking-title">Office Space @ YBF</h2>

    <div class="col-xs-12 col-sm-9 col-md-9 booking-detail">
	    <div class="well">
	        <div class="row">
	            <div class="col-sm-6 col-md-4">
	                <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
	            </div>
	            <div class="col-sm-6 col-md-8">
                    <h3>{{ booking.title }}</h3>
	                <label>Room:</label>
	                <span>{{ booking.room }}</span><br>
	                <label>Category:</label>
	                <span>{{ booking.room.category }}</span><br>
	                <label>Date Booked:</label>
	                <span>{{ booking.start_book }} - {{ booking.end_book }}</span>
	            </div>
	        </div>
	    </div>
        <div class="col-xs-12 text-center detail-actions">
        	<a href="{% url 'booking_edit' booking.id %}?room={{ booking.room.id }}" class="btn btn-dark btn-sm">Edit Booking</a>
        	<a href="{% url 'booking_list' %}" class="btn btn-transparent-dark btn-sm">Back</a>
    	</div>
	</div>
{% endblock %}
