.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.btn-transparent-green:hover,
.btn-transparent-green:focus {
    color: #fff;
    background-color: #5cb85c;
    border: 1px solid #272534;
}

.btn-transparent-green {
    color: #272534;
    background-color: #fff;
    border: 1px solid #272534;
}

.site-main.officespace {
    min-height: 700px;
}

.officespace .container {
    margin: 50px auto;
}

.bookings-action {
    margin-top: 40px;
    margin-bottom: 20px;
}

.bookings-action a {
    color: #6f6f6f;
    font-size: 16px;
    font-weight: bold;
}

.bookings-action a:hover {
    text-decoration: underline;
    color: #272534;
}

.bookings-action a.list-link,
.bookings-action a.create-link {
    color: #272534;
}

.bookings-action .start-over,
.bookings-action .book-room,
.bookings-action .edit-room,
.booking-edit .title-change {
    width: 100px;
    margin-left: 10px;
}

.bookings .table-section {
    width: 80%;
}

.bookings .filter-section {
    width: 17%;
}

.bookings .filter-section p {
    font-size: 16px;
    font-weight: bold;
    color: #6f6f6f;
}

.bookings .filter-section a.active-type {
    color: #fff;
    background-color: #5cb85c;
    border: 1px solid #272534;
}

#bookings_table tbody tr {
    background: #f9f9f9;
}

#bookings_table tbody tr td {
    padding: 15px 8px;
}

#bookings_table tbody .actions {
    vertical-align: middle;
}

#bookings_table tbody .actions a {
    color: #6f6f6f;
}

#bookings_table tbody .actions a:last-child {
    color: red;
}

#bookings_table_wrapper #bookings_table_length select {
    border: 1px solid #272534;
    padding: 0;
}

#bookings_table_wrapper .pagination > li > a {
    border: 1px solid #aeaeae;
    color: #aeaeae;
    padding: 5px 10px;
}

#bookings_table_wrapper .pagination > li > a:hover,
#bookings_table_wrapper .pagination > li > a:focus {
    color: #00A3FF;
}

#bookings_table_wrapper .pagination > .active > a,
#bookings_table_wrapper .pagination > .active > a:focus,
#bookings_table_wrapper .pagination > .active > a:hover {
    background: #aeaeae;
    color: #787780;
}

#bookings_table_wrapper .pagination > .disabled > a:focus,
#bookings_table_wrapper .pagination > .disabled > a:hover {
    color: #aeaeae;
}

#bookings_table .details p {
    border-bottom: 2px solid #6f6f6f;
    padding-bottom: 2px;
    display: inline-block;
    text-transform: uppercase;
}

#bookings_table .details h3 {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 5px;
}

.booking-detail {
    margin: 0 auto;
    float: none;
    margin-top: 50px;
}

.booking-detail .detail-actions a {
    display: inline;
    margin-right: 10px;
}

.booking-edit {
    margin-top: 50px;
}

.booking-edit .back-link {
    margin-bottom: 10px;
    width: 80px;
    display: inline-block;
}
.booking-edit .back-link:hover {
    color: #fff;
    text-decoration: none;
}

.bookings-option select {
    border: 1px solid #272534;
    padding: 0;
    margin-top: 10px;
}

.bookings-option select:focus {
    border: 1px solid #272534;
}

.bookings-option .choose-room {
    opacity: 0.3;
}
.bookings-option .choose-room:hover {
    opacity: 1 !important;
    cursor:pointer;
}
.bookings-option .choose-time:hover {
    opacity: 1 !important;
    cursor:pointer;
}

.bookings-option .choose-time .form-group input {
    display: inline-block;
    width: 35%;
}

.bookings-option .choose-time .form-group input#search_time {
    margin-left: 15px;
    width: 70px;
    margin-top: 10px;
}

.booking .choose-time .actions button {
    width: 100px;
    display: inline-block;
}

/* Modal */
#createModal .modal-dialog {
    width: 50%;
}

#createModal .booking-confirm {
    margin: 20px auto;
    width: 70px;
}

#deleteModal .modal-footer .btn,
#titleModal .modal-footer .btn {
    width: 100px;
    display: inline-block;
}

#bookingTitle {
    width: 100%;
    margin: 15px auto;
}

/* Calendar for Booking */
#calendar .fc-time-grid .fc-slats td,
#edit_calendar .fc-time-grid .fc-slats td {
    height: 40px !important;
}

#calendar .new-booking .book-room,
#edit_calendar .edit-booking .book-room,
#edit_calendar .edit-booking .title-change {
    margin: 10px auto;
    width: 85%;
}

#calendar .new-booking .fc-bg,
#edit_calendar .edit-booking .fc-bg {
    display: none;
}
