/*==========  Non-Mobile First Method  ==========*/

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	/* Jobs */
	.job-item {
	    min-height: 255px;
	    padding: 10px;
	}

	.job-title {
		font-size: 16px;
	}

	/* Events */
	.next-events .col-sm-6 {
	    padding: 0 50px;
	}

	.events-list {
	    padding: 50px 0 100px;
	}

	.event-details-sidebar .event-details-buttons .btn-half {
	    width: 100%;
	}

	.event-details-buttons .btn-half + .btn-half {
	    margin-left: 0;
	}

	/* News */
	.featured-news .col-sm-6 {
		padding: 0 50px;
	}

	.news-page-list .news-single-item {
		min-height: 215px;
	}

	.news-page-list .news-single-thumb {
		height: 215px;
	}

	/* Footer */
	.footer-col {
		width: 25%;
		float: left !important;
		text-align: left !important;
		margin-top: 30px;
	}

	.footer-col:first-child {
		width: 100%;
		margin-top: 0;
	}

	/* Modals */
	.modal-body-left {
		padding: 50px 40px;
	}

	.modal-body-right {
		padding-left: 40px;
		padding-right: 40px;
	}
}

@media only screen and (min-width : 768px) and (max-width : 991px) {
	.social-share a {
		width: 103px;
	}

	.footer-col:nth-child(6) {
		clear: both;
	}

	.modal-dialog {
	    max-width: 90%;
	}
	.bookings-option .choose-time .form-group input {
		width: 40% !important;
	}
	.bookings-option .choose-time .form-group input#search_time {
		display: block;
		margin: 0 auto !important;
		margin-top: 20px !important;
		width: 70px !important;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.container,
	.affix .events-filter {
		padding-left: 32px;
		padding-right: 32px;
	}

	.pagination > li > a {
		font-size: 13px;
	}

	/* User profile */
	.user-profile {
		margin: 3px 16px 0 0;
	}

	.user-profile-thumb span {
		color: #fff;
  	  	font-size: 18px;
	    position: absolute;
	    right: -15px;
	    top: 15px;
	}

	/* Main navigation */
	.site-logo {
		position: absolute;
		top: 20px;
		left: 0;
		right: 0;
		margin: auto;
		z-index: 22;
		width: 83px;
	}

	.site-navigation {
	    background: rgba(0,0,0,0.85);
	    height: 100%;
	    left: 0;
	    position: fixed;
	    top: 0;
	    width: 100%;
	    opacity: 0;
		visibility: hidden;
		z-index: 10;

	    -moz-transition: opacity 0.15s ease-in-out, visibility 0s 0.15s;
	    -webkit-transition: opacity 0.15s ease-in-out, visibility 0s 0.15s;
	    -o-transition: opacity 0.15s ease-in-out, visibility 0s 0.15s;
	    -ms-transition: opacity 0.15s ease-in-out, visibility 0s 0.15s;
	    transition: opacity 0.15s ease-in-out, visibility 0s 0.15s;
	}

	.site-navigation.show {
		opacity: 1;
		visibility: visible;

		-moz-transition: opacity 0.15s ease-in-out;
	    -webkit-transition: opacity 0.15s ease-in-out;
	    -o-transition: opacity 0.15s ease-in-out;
	    -ms-transition: opacity 0.15s ease-in-out;
	    transition: opacity 0.15s ease-in-out;
	}

	.site-navigation ul {
		position: absolute;
		top: 50%;
		left: 50%;
		text-align: center;

		transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}

	.site-navigation li {
		display: block;
		margin: 0;
		text-align: center;
	}

	.site-navigation li + li {
		margin: 0;
	}

	/* Responsive menu buttons */
	.lines-button {
	    display: block;
	}
	.lines-button.close {
		position: fixed;
	}
	.lines-button.x.close .lines {
		background-color: #fff !important;
	}
	.lines-button.x.close .line-middle {
	    background: transparent !important;
	}

	/* Header */
	.site-header {
		height: auto;
		/*padding-bottom: 50px;*/
	}

	.hero-text {
	    left: 0;
	    padding-top: 110px;
	    width: auto;
	}

	.event-details-hero .hero-text {
		width: auto;
	}

	.hero-text,
	.hero .hero-form {
		position: relative;
	    top: auto;
	    right: auto;
		transform: none;
	    -moz-transform: none;
	    -webkit-transform: none;
	    -ms-transform: none;
	    -o-transform: none;
	}

	.hero-text h1,
	.jobs-info h2 {
		font-size: 24px;
	    line-height: 32px;
	}

	.jobs-info h2 {
		text-align: center;
	}

	.hero-text p {
		font-size: 14px;
	    line-height: 20px;
	}

	.hero .hero-form,
	.event-form {
		padding-top: 40px;
	}

	/* Footer */
	.site-footer {
		padding: 60px 0;
	}

	.site-footer h3 {
		font-size: 32px;
		margin-bottom: 40px;
	}

	.footer-col {
		width: 50%;
	}
	/* Modal */
	#deleteModal .modal-dialog {
		margin: 80px auto;
	}

	/* Bookings List */
	.bookings-list .bookings,
	.booking-create .bookings .booking {
		position: relative;
	}

	.bookings-list .bookings .table-section,
	.booking-create .bookings .table-section {
		float: none !important;
		width: 100%;
		padding-top: 140px;
	}

	.bookings-list .bookings .table-section #bookings_table_wrapper > div.row:first-child > div,
	.booking-create .bookings .table-section #bookings_table_wrapper > div.row:first-child > div {
		width: 50%;
		float: left;
	}

	.bookings-list .bookings .filter-section,
	.booking-create .bookings .filter-section {
		float: none !important;
		width: 100%;
		position: absolute;
		top: 0;
	}

	.bookings-list .bookings .filter-section a,
	.booking-create .bookings .filter-section a {
		display: inline-block;
		width: 125px;
		margin-right: 5px;
	}
	#calendar, #edit_calendar {
		width: 90%;
		margin: 0 auto;
	}
	#createModal .modal-dialog {
		width: 90% !important;
		margin-top: 100px;
	}
}

@media only screen and (max-width : 600px) {
	.officespace .container {
		margin: 20px auto !important;
	}
	#calendar, #edit_calendar {
		width: 85%;
	}
	#edit_calendar .fc-header-toolbar .fc-center h2,
	#calendar .fc-header-toolbar .fc-center h2 {
		font-size: 20px;
	}
	#edit_calendar .fc-header-toolbar .fc-left,
	#edit_calendar .fc-header-toolbar .fc-right,
	#calendar .fc-header-toolbar .fc-left,
	#calendar .fc-header-toolbar .fc-right {
		margin-bottom: 15px;
	}
	.bookings-option .choose-time .form-group input {
		width: 45% !important;
	}
	.bookings-option .choose-time .form-group input#search_time {
		display: block;
		width: 70px !important;
		margin: 0 auto !important;
		margin-top: 20px !important;
	}
	.bookings-action .start-over,
	.bookings-action .book-room {
		float: none !important;
		margin: 20px auto 0 !important;
	}
}

@media only screen and (max-width : 480px) {
	.booking-title {
		font-size: 25px;
	}
	.bookings-list .bookings .table-section #bookings_table_wrapper > div.row:first-child > div,
	.booking-create .bookings .table-section #bookings_table_wrapper > div.row:first-child > div {
		width: auto;
		float: none;
	}
	.bookings-list .bookings .filter-section a {
		width: 130px;
	}
	.bookings-list .bookings .table-section,
	.booking-create .bookings .table-section {
		padding-top: 185px;
	}
	#bookings_table tbody .actions a {
		display: block;
	}
	#bookings_table tbody .actions a:nth-child(2) {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.bookings-option .choose-time .form-group input {
		width: 40% !important;
	}
	#edit_calendar .fc-header-toolbar .fc-left,
	#edit_calendar .fc-header-toolbar .fc-right,
	#calendar .fc-header-toolbar .fc-left,
	#calendar .fc-header-toolbar .fc-right {
		float: none;
		clear: both;
		display: inline-block;
		margin: 8px 10px;
	}
	#edit_calendar .fc-header-toolbar .fc-center h2,
	#calendar .fc-header-toolbar .fc-center h2 {
		float: none;
	}
	#edit_calendar .fc-header-toolbar .fc-center,
	#calendar .fc-header-toolbar .fc-center {
		display: block;
	}
}
