{% extends 'registration/base.html' %}

{% block content %}
<div class="hero-text">

  <h1 class="hero-title">Reset your password.</h1>
  <p>
  </p>
</div>
{% load app_filter %}
  <form class="hero-form" method="post">
    {% csrf_token %}
    <div class="form-group mb-30">
    {% for field in form %}
    <label for="signup-">Email Address</label>
    {{field|addcss:"form-control"}}
    {% endfor %}
    </div>
    <button class="btn btn-transparent-white" type="submit">Reset password</button>
  </form>
{% endblock %}
