{% extends 'news/base.html' %}
{% block content %}
{% load staticfiles %}

<body>

    <header id="masthead" class="site-header">

        <div class="top-nav">

            <div class="container container-960">

                <a href="/" class="site-logo" rel="home"><img src="{% static 'news/img/logo.png' %}" alt="" srcset="{% static 'news/img/logo.png' %} 1x, {% static 'news/img/logo@2x.png' %} 2x"></a>

                <button class="lines-button x toggle-menu" type="button" id="toggle-menu">
                    <span class="lines line-top"></span>
                    <span class="lines line-middle"></span>
                    <span class="lines line-bottom"></span>
                </button><!-- /.lines-button -->

                <nav id="primary-navigation" class="site-navigation">

                    <a href="index.html" class="site-logo visible-xs" rel="home"><img src="{% static 'news/img/logo.png' %}" alt="" srcset="{% static 'news/img/logo.png' %} 1x, {% static 'news/img/logo@2x.png' %} 2x"></a>

                    <ul>
                        <li class="active"><a href="/news">News</a></li>
                        <li><a href="/events">Events</a></li>
                        <li><a href="#">Startups</a></li>
                        <li><a href="jobs.html">Jobs</a></li>
                        <li><a href="company-profile.html">Companies</a></li>
                    </ul>

                </nav><!-- /.site-navigation -->

                <div class="user-profile dropdown">

                    <a class="dropdown-toggle" id="user-dropdown-menu" data-toggle="dropdown" aria-expanded="true">
                        <div class="user-profile-thumb"><img src="{% static 'news/img/avatar.jpg' %}" alt=""> <span class="visible-xs caret"></span></div>
                        <div class="user-profile-meta hidden-xs">
                            <div class="user-profile-meta-inner">
                                {{request.user.username}}
                            </div>
                        </div>
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="user-dropdown-menu">
                        <li><a href="person-profile.html">Profile</a></li>
                        <li><a href="#">Settings</a></li>
                        <li class="logout-btn"><a href="#">Logout</a></li>
                    </ul>

                </div><!-- /.user-profile -->

            </div><!-- /.container -->

        </div><!-- /.top-nav -->

        <div class="hero event-details-hero">

            <div class="container">
            
                <div class="hero-text">
                    <p class="news-category">News // {{news_article.category.first}}</p>
                    <h1 class="hero-title">{{ news_article.title }}</h1>
                    <p>Posted by <a href="#">{{ news_article.owner.username }}</a></p>
                    {% if next %}
                    <a class="btn btn-transparent-white"  href="{{ next }}"><< Back</a>
                    {% else %}
                    <a class="btn btn-transparent-white" href="/news"><< Back</a>
                    {% endif %}
                </div>

            </div>

        </div>        

    </header><!-- /#header -->


    <div id="main" class="site-main">

        <section class="event-details-content">

            <div class="container container-960">

                <div class="row">

                    <div class="col-sm-8">
                        <h3>Description | <a href="edit">Edit</a></h3>
                        <p>
                        {{ news_article.article|safe }}
                        </p>
                    </div>

                    <div class="col-sm-4">

                        <div class="event-details-sidebar">

                            <h3>Share</h3>

                            <div class="social-share" style="padding-top:10px">
                                
                                <a class="twitter" href="#">Twitter</a>
                                <a class="facebook" href="#">Facebook</a>
                                <a class="email" href="#">Email</a>
                                <a class="reddit" href="#">Reddit</a>
                                <a class="weibo" href="#">Weibo</a>
                                <a class="linkedin" href="#">LinkedIn</a>
                            </div>

                        </div>

                    </div>

                </div>

            </div><!-- /.container -->
            
        </section>

        <section class="events-list">

            <div class="container container-960">
                
                <p class="events-date">Related news</p>
                  
                <div class="row row-eq-height row-margin-1">
                    {% for related_news in related_news %}
                    <div class="col-md-3 col-xs-12">
                        <div class="event-item">
                            <p class="event-date">11am 8 Aug 2017</p>
                            <h2 class="event-name"><a href="/news/{{ related_news.id }}">{{related_news.title|slice:":60"}}</a></h2>
                            <a href="#" class="event-attending">posted by</a>
                        </div><!-- /.event-item -->
                    </div>  
                    {% endfor %}

                </div><!-- /.row -->

            </div>

        </section>

    </div><!-- /#main -->

    
    <footer id="colophon" class="site-footer pages-footer">

        <div class="container container-960">
        
            <div class="row">
        
                <div class="footer-col">
                    <a href="#" class="site-logo" rel="home"><img src="{% static 'news/img/logo.png' %}" alt=""></a>
                </div><!-- /.footer-col -->

                <div class="footer-col">
                    <h4>News</h4>
                    <ul>
                        <li><a href="#">Current</a></li>
                        <li><a href="#">Archive</a></li>
                        <li><a href="#">Submit a story</a></li>
                    </ul>
                </div><!-- /.footer-col -->
                
                <div class="footer-col">
                    <h4>Events</h4>
                    <ul>
                        <li><a href="#">Browse</a></li>
                        <li><a href="#">Attending</a></li>
                        <li><a href="#">Manage</a></li>
                    </ul>
                </div><!-- /.footer-col -->
                
                <div class="footer-col">
                    <h4>Startups</h4>
                    <ul>
                        <li><a href="#">Browse</a></li>
                        <li><a href="#">Manage</a></li>
                    </ul>
                </div><!-- /.footer-col -->
                
                <div class="footer-col">
                    <h4>Companies</h4>
                    <ul>
                        <li><a href="#">Browse</a></li>
                        <li><a href="#">Manage</a></li>
                    </ul>
                </div><!-- /.footer-col -->
                
                <div class="footer-col">
                    <h4>Jobs</h4>
                    <ul>
                        <li><a href="#">Browse</a></li>
                        <li><a href="#">Manage</a></li>
                    </ul>
                </div><!-- /.footer-col -->
                
                <div class="footer-col">
                    <h4>Profile</h4>
                    <ul>
                        <li><a href="#">Your Activity</a></li>
                        <li><a href="#">Edit Profile</a></li>
                    </ul>
                </div><!-- /.footer-col -->
                
                <div class="footer-col">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">About YBF</a></li>
                        <li><a href="#">Terms of service</a></li>
                        <li><a href="#">Legal</a></li>
                    </ul>
                </div><!-- /.footer-col -->
                
                <div class="footer-col pull-right text-right">
                    <ul>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">LinkedIn</a></li>
                    </ul>
                </div><!-- /.footer-col -->

            </div>  
                    
        </div><!-- /.container -->

    </footer><!-- /#footer -->

{% endblock %}