{% load staticfiles %}
<div class="top-nav">

    <div class="container container-960">

        <a href="/" class="site-logo" rel="home"><img src="{% static 'news/assets/img/logo.png' %}" alt=""
                                                               srcset="{% static 'news/img/logo.png' %} 1x, {% static 'news/img/logo@2x.png' %} 2x"></a>

        <button class="lines-button x toggle-menu" type="button" id="toggle-menu">
            <span class="lines line-top"></span>
            <span class="lines line-middle"></span>
            <span class="lines line-bottom"></span>
        </button><!-- /.lines-button -->

        <nav id="primary-navigation" class="site-navigation">

            <a href="index.html" class="site-logo visible-xs" rel="home"><img src="{% static 'news/img/logo.png' %}"
                                                                              alt=""
                                                                              srcset="{% static 'news/img/logo.png' %} 1x, {% static 'news/img/logo@2x.png' %} 2x"></a>

            <ul>
                <li class="active"><a href="/news">News</a></li>
                <li><a href="/events">Events</a></li>
                <!--<li><a href="#">Startups</a></li>-->
                <!--<li><a href="jobs.html">Jobs</a></li>-->
                <!--<li><a href="company-profile.html">Companies</a></li>-->
                <li><a href="/officespace">Officespace</a></li>
                <li><a href="/perks">Perks</a></li>
                {% for page in navbar_pages %}
                    <li><a href="/news/{{ page.id }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>

        </nav><!-- /.site-navigation -->

        <div class="user-profile dropdown">
            <a class="dropdown-toggle" id="user-dropdown-menu" data-toggle="dropdown" aria-expanded="true">
                <div class="user-profile-thumb">

                    {% if request.user.profile.image %}
                        <img src="{{ request.user.profile.image.url }}" alt="">
                    {% else %}
                        <img src="{% static 'community/img/avatar.jpg' %}" alt="">
                    {% endif %}

                <span class="visible-xs caret"></span></div>
                <div class="user-profile-meta hidden-xs">
                    <div class="user-profile-meta-inner">
                        {{ request.user.username }}
                    </div>
                </div>
            </a>
            <ul class="dropdown-menu" aria-labelledby="user-dropdown-menu">
                <li><a href="/c/people/{{ request.user.id }}">Profile</a></li>
                <!--<li><a href="#">Settings</a></li>-->
                <li class="logout-btn"><a href="/logout">Logout</a></li>
            </ul>
        </div><!-- /.user-profile -->
    </div><!-- /.top-nav -->
</div>