{% extends 'registration/base.html' %}

{% block content %}
  {% if validlink %}
  <div class="hero-text">

    <h1 class="hero-title">Change password.</h1>
    <p>Please update your password, taking care to make sure they match.</p>

  </div>

    {% load app_filter %}
    <form class="hero-form" method="post">
      {% csrf_token %}
      <div class="form-group mb-30">
        {% for field in form %}
          
          {{field.label_tag}}
          {{field|addcss:"form-control"}}

          {% if form.errors %}
            {% for error in field.errors %}
            <br>
            <div class="alert alert-danger alert-dismissable fade in">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
              <p>{{error}}</p>
            </div>
            <br>
            {% endfor %}
          {% endif %}

        {% endfor %}

        </div>
      <button class="btn btn-transparent-white" type="submit">Reset password</button>
    </form>
  {% else %}

    <div class="hero-text">
      <h1 class="hero-title">Forgotten your password?</h1>
      <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    </div>

  {% endif %}
{% endblock %}




