{% extends 'community/base.html' %}
{% block content %}
    {% load staticfiles %}
    <body>

    <header id="masthead" class="site-header company-profile-header">

        <div class="top-nav">

            <div class="container container-960">

                <a href="/" class="site-logo" rel="home"><img src="{% static 'community/img/logo.png' %}" alt=""
                                                              srcset="{% static 'community/img/logo.png' %} 1x, {% static 'community/img/logo@2x.png' %} 2x"></a>

                <button class="lines-button x toggle-menu" type="button" id="toggle-menu">
                    <span class="lines line-top"></span>
                    <span class="lines line-middle"></span>
                    <span class="lines line-bottom"></span>
                </button><!-- /.lines-button -->

                <nav id="primary-navigation" class="site-navigation">

                    <a href="/news" class="site-logo visible-xs" rel="home">

                        <img src="{% static 'community/img/logo.png' %}" alt=""
                             srcset="{% static 'community/img/logo.png' %} 1x, {% static 'community/img/logo@2x.png' %} 2x">

                    </a>

                    <ul>
                        <li><a href="/news">News</a></li>
                        <li><a href="/events">Events</a></li>
                        <li class="active"><a href="#">Companies</a></li>
                        <li><a href="/c/people">People</a></li>
                        {% for page in navbar_pages %}
                            <li><a href="/news/{{ page.id }}">{{ page.title }}</a></li>
                        {% endfor %}
                    </ul>

                </nav><!-- /.site-navigation -->

                {% include 'community/profile-menu.html' %}


            </div><!-- /.container -->

        </div><!-- /.top-nav -->

        <div class="hero">

            <div class="container container-960">

                <div class="hero-text">
                    {% if company.image %}
                        <img src="{{ company.image.url }}" alt="" class="company-page-thumb">
                    {% else %}
                        <img src="{% static 'community/img/company-profile.jpg' %}" alt="" class="company-page-thumb">
                    {% endif %}

                    {% if company.partner %}
                        <div id="ribbon-container">
                            <span id="ribbon">Partner</span>
                        </div>
                    {% endif %}
                    <h1 style="width: inherit">{{ company.title }}</h1>
                    <p>{% if company.size %}{{ company.size }} {% else %} 0 {% endif %} Employees <a href="#">View</a>
                    </p>
                </div>

            </div>

        </div><!-- /.event-details-hero -->

    </header><!-- /#header -->


    <div id="main" class="site-main">

        <section class="event-details-content">

            <div class="container container-960">

                <div class="row">

                    <div class="col-sm-8">
                        <h3>Description</h3>

                        <p>
                            {{ company.description|safe }}
                        </p>

                    </div>

                    <div class="col-sm-4">

                        <div class="event-details-sidebar">

                            <h3>Details</h3>

                            <p class="mb-30"><strong>Industry</strong>:
                                {% if categories %}
                                    <p class="mb-30" style="text-transform:capitalize;">
                                        {% for category in categories %}
                                            <strong>{{ category }}</strong><br>
                                        {% endfor %}
                                    </p>
                                {% endif %}
                            <br>
                            <strong>Size</strong>:
                            {% if company.size %}{{ company.size }} {% else %} 0 {% endif %} Employees<br>
                            <strong>Website</strong>: <a href="#">
                            {% if company.website %}{{ company.website }}{% endif %}</a></p>

                            <p class="mb-30"><strong>Twitter</strong>: <a href="#">
                                {% if company.twitter %}{{ company.twitter }} {% endif %}</a><br>
                                <strong>Facebook</strong>: <a href="#">
                                    {% if company.facebook %}{{ company.facebook }} {% endif %}</a><br>
                                <strong>LinkedIn</strong>: <a href="#">
                                    {% if company.linkedin %}{{ company.linkedin }}{% endif %}</a><br>
                            </p>

                            <div class="event-details-buttons">
                                <a href="{{ company.id }}/edit" class="btn btn-transparent-dark">Edit Company</a>
                                <a href="{{ company.website }}" class="btn btn-transparent-dark">Visit Website</a>
                                {#                                <a href="#" class="btn btn-transparent-dark">Employee Lists</a>#}
                                {#                                <a href="#" class="btn btn-transparent-dark btn-half">Hosted Events</a>#}
                                {#                                <a href="#" class="btn btn-transparent-dark btn-half">Job Posts</a>#}
                            </div>

                            <hr>

                            <div class="social-share">
                                <h3>Share Company</h3>
                                <a class="twitter" href="#">Twitter</a>
                                <a class="facebook" href="#">Facebook</a>
                                <a class="email" href="#">Email</a>
                                <a class="reddit" href="#">Reddit</a>
                                <a class="weibo" href="#">Weibo</a>
                                <a class="linkedin" href="#">LinkedIn</a>
                            </div>

                        </div><!-- /.event-details-sidebar -->

                    </div>

                </div>

            </div><!-- /.container -->

        </section><!-- /.event-details-content -->

    </div><!-- /#main -->


    <footer id="colophon" class="site-footer pages-footer">

        <div class="container container-960">

            <div class="row">

                <div class="footer-col">
                    <a href="#" class="site-logo" rel="home"><img src="{% static 'community/img/logo.png' %}"
                                                                  alt=""></a>
                </div><!-- /.footer-col -->

                <div class="footer-col">
                    <h4>News</h4>
                    <ul>
                        <li><a href="#">Current</a></li>
                        <li><a href="#">Archive</a></li>
                        <li><a href="#">Submit a story</a></li>
                    </ul>
                </div><!-- /.footer-col -->

                <div class="footer-col">
                    <h4>Events</h4>
                    <ul>
                        <li><a href="#">Browse</a></li>
                        <li><a href="#">Attending</a></li>
                        <li><a href="#">Manage</a></li>
                    </ul>
                </div><!-- /.footer-col -->

                <div class="footer-col">
                    <h4>Startups</h4>
                    <ul>
                        <li><a href="#">Browse</a></li>
                        <li><a href="#">Manage</a></li>
                    </ul>
                </div><!-- /.footer-col -->

                <div class="footer-col">
                    <h4>Companies</h4>
                    <ul>
                        <li><a href="#">Browse</a></li>
                        <li><a href="#">Manage</a></li>
                    </ul>
                </div><!-- /.footer-col -->

                <div class="footer-col">
                    <h4>Jobs</h4>
                    <ul>
                        <li><a href="#">Browse</a></li>
                        <li><a href="#">Manage</a></li>
                    </ul>
                </div><!-- /.footer-col -->

                <div class="footer-col">
                    <h4>Profile</h4>
                    <ul>
                        <li><a href="#">Your Activity</a></li>
                        <li><a href="#">Edit Profile</a></li>
                    </ul>
                </div><!-- /.footer-col -->

                <div class="footer-col">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">About YBF</a></li>
                        <li><a href="#">Terms of service</a></li>
                        <li><a href="#">Legal</a></li>
                    </ul>
                </div><!-- /.footer-col -->

                <div class="footer-col pull-right text-right">
                    <ul>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">LinkedIn</a></li>
                    </ul>
                </div><!-- /.footer-col -->

            </div>

        </div><!-- /.container -->

    </footer><!-- /#footer -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'community/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'community/js/script.js' %}"></script>

    </body>
{% endblock %}