{% load staticfiles %}

{% if user_list %}
    {% for user in user_list %}
        <div id="user_{{ user.id }}" class="news-single-item">
            <div class="news-single-thumb">

                <!-- update to test if user has profile image -->

                {% if user.profile.image %}
                    <img src="{{ user.profile.image.url|safe }}" alt="">
                {% else %}
                    <img src="{% static 'community/img/news-tmp.png' %}" alt="">
                {% endif %}

            </div>
            <div class="news-single-content">
                <p class="news-category">Works with: {{ user.profile.companies.first }}</p>
                <h3 class="news-title">{{ user.first_name }} {{ user.last_name }}</h3>

                <p class="news-author">

                    <a href="#"> {{ user.email }} </a> {% if user.profile.phone_number %}| <a href="#"> {{ user.profile.phone_number }} </a>{% endif %}

                </p>
                <p class="news-description">{{ user.profile.bio|safe|slice:":150" }}</p>
                <a href="{{ user.id }}" class="read-more">View profile &rarr;</a>
            </div>
        </div><!-- /.news-single-item -->
    {% endfor %}
{% else %}
    <p style="display: block;">No Users</p>
{% endif %}
