<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-calendar-check-o fa-2x" aria-hidden="true"></i>
                <h3 class="modal-title" style="display: inline-block;margin-left: 5px;">Booking Complete</h3>
            </div>
            <div class="modal-body">
                <div class="pull-left">
                	<h4 class="mb-20">Booking Details</h4>
                    <label>Title:</label>
                    <span class="title">title</span><br>
                    <label>Room:</label>
                    <span class="room">Meeting Room</span><br>
                    <label>Time:</label>
                    <span class="time"></span><br>
                    <label>Address:</label>
                    <span>Your Butter Factory</span>
                </div>
                <div class="pull-right">
                    <h4 class="mb-20">Add to Address Book</h4>
                    <a href="#" target="_blank" class="btn btn-info text-center mb-10 ical">iCal</a>
            		<a href="#" target="_blank" class="btn btn-danger text-center mb-10 gCal">Google</a>
            		<a href="#" target="_blank" class="btn btn-primary text-center mb-10 oCal">Outlook</a>
                </div>
                <div class="clearfix"></div>
                <button class="btn btn-transparent-dark text-center booking-confirm">OK</button>
            </div>
        </div>
    </div>
</div>
