<!DOCTYPE html>
<html lang="en">
<head>

{% load staticfiles %}

    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Butter Factory - News</title>

    <meta name="description" content="At YBF, we have one goal: To maximise the success of startups that call YBF ... we've designed and built an ecosystem to maximise your startups' success.">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Favicon
    ================================================== -->
    <link rel="shortcut icon" type="image/png" href="{% static 'news/img/favicon.ico' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'news/img/favicon.ico' %}">

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="{% static 'news/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'news/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'news/css/responsive.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

{#  <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=qpmtp26zfvamrr5ro6q5d280rs0riq678ufp2ntmylr8g2cc"></script>#}

    <script src="{% static 'news/js/tinymce/tinymce.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'news/js/tinymce/custom.js' %}" ></script>

</head>
	
	{% block content %}
	{% endblock %}

</html>