{% extends 'home/errors/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    500 Server Error</h2>
                <div class="error-details">
                    Sorry, an error has occured, Requested page not found!
                </div>
                <br>
                <br>
                <div class="error-actions">
                    <a href="/" class="btn btn-dark"><span class="glyphicon glyphicon-home"></span>
                        Home Page </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}