{% extends 'dashboard/base.html' %}
{% block content %}
    {% load staticfiles %}
    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 45px;
            height: 15px;
        }

        .switch input {
            display: none;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: grey;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 15px;
            width: 15px;
            left: 3px;
            bottom: 0px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: #00c108;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px white;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 20px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    </style>
    <div id="main" class="site-main admin-page">

        <section class="events-list">

            <div class="container container-960">

                <h1 class="admin-page-title">Content</h1>

                <div class="events-filter mb-20">
                    <ul class="list-unstyled">
                        <li class="ml-0"><a href="/dashboard">News</a></li>
                        <li><a href="perks">Perks</a></li>
                        <li><a href="events">Events</a></li>
                        <!--<li><a href="#">Startups</a></li>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Companies</a></li>-->
                    </ul>

                    <!-- old search bar for dashboard
                    <form>
                        <div class="search-wrapper">
                            <input type="text" class="search-control" placeholder="Search...">
                        </div>
                    </form>
                    -->
                </div><!-- /.events-filter -->
                <div class="events-filter mb-20">
                    <ul class="list-unstyled">
                        <li class="ml-0"><a href="/news/create?next=/dashboard">+ Create new news article</a></li>
                    </ul>
                </div>

                <div class="clearfix"></div>

                <div class="table-responsive">

                    <table class="admin-table table">
                        <thead>
                        <tr>
                            <th>Title <span class="caret"></span></th>
                            <th>Author</th>
                            <th class="text-right">Date published</th>
                            <th class="text-center">Published</th>
                            <th class="text-right">Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for news in news_list %}

                            <tr>
                                <td><img src="{% static 'dashboard/img/article.png' %}" alt=""
                                         class="title-img"> {{ news.title|truncatechars:30 }}</td>
                                <td>{{ news.owner.username }}</td>
                                <td class="text-right">{{ news.pub_date }}</td>
                                <td class="text-center">
                                    <label class="switch">
                                        {% if news.public %}
                                            <input onchange="setActive({{ news.id }}, this)" type="checkbox"
                                                   checked>
                                        {% else %}
                                            <input type="checkbox" onchange="setActive({{ news.id }}, this)">
                                        {% endif %}
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                                <td class="text-right">
                                    <div class="table-actions">
                                        <!-- View -->
                                        <a href="/news/{{ news.id }}-{{ news.title|slugify }}?next=/dashboard"><img
                                                src="{% static 'dashboard/img/view.png' %}" alt=""
                                                srcset="{% static 'dashboard/img/view.png' %} 1x, {% static 'dashboard/img/view@2x.png' %} 2x"></a>

                                        <!-- Edit -->
                                        <a href="/news/{{ news.id }}-{{ news.title|slugify }}/edit?next=/dashboard"><img
                                                src="{% static 'dashboard/img/edit.png' %}" alt=""
                                                srcset="{% static 'dashboard/img/edit.png' %}" 1x,
                                            "{% static 'dashboard/assets/img/edit@2x.png' %} 2x"></a>

                                        <!-- Delete -->
                                        <a href="/news/{{ news.id }}-{{ news.title|slugify }}/delete"><img
                                                src="{% static 'dashboard/img/trash.png' %}" alt=""
                                                srcset="{% static 'dashboard/img/trash.png' %} 1x, {% static 'dashboard/img/trash@2x.png' %} 2x"></a>
                                    </div>
                                </td>
                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>

                </div><!-- /.table-responsive -->

                <nav aria-label="News list navigation">
                    <ul class="pagination text-center">
                        <li class="pull-left text-pagination">
                            {% if total_pages.count == pg_num %}
                            <a href="?previous={{ pg_num}}" aria-label="Previous" disabled>
                                <span aria-hidden="true">&larr; Prev Page</span>
                            </a>
                            {% else %}
                                <a href="?previous={{ pg_num}}" aria-label="Previous">
                                <span aria-hidden="true">&larr; Prev Page</span>
                            </a>
                            {% endif %}
                        </li>
                        {% for i in total_pages %}
                            {% if pg_num == i %}
                                <li class="active"><a href="?pg_num={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                            {% else %}
                                <li><a href="?pg_num={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                            {% endif %}
                        {% endfor %}
                        <li class="pull-right text-pagination">
                            <a href="?next={{ pg_num }}" aria-label="Next">
                                <span aria-hidden="true">Next Page &rarr;</span>
                            </a>
                        </li>
                    </ul>
                    <p class="total-items">{{ total_count }} total items</p>
                </nav>


            </div><!-- /.container-fluid -->

        </section><!-- /.events-list -->

    </div><!-- /#main -->
{% endblock %}
{% block customscript %}
    <script>
        function setActive(newsId, obj) {

            if (obj.checked) {
                $.ajax({
                    url: '/dashboard/news/' + newsId + '/active',
                    dataType: 'json',
                    success: function (result) {
                        console.log(result)
                    }
                });
            }
            else {
                $.ajax({
                    url: '/dashboard/news/' + newsId + '/inactive',
                    dataType: 'json',
                    success: function (result) {
                        console.log(result)
                    }
                });
            }
        }
    </script>
{% endblock %}
