<!DOCTYPE html>
<html lang="en">
<head>

{% load staticfiles %}

    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Butter Factory - News</title>

    <meta name="description" content="At YBF, we have one goal: To maximise the success of startups that call YBF ... we've designed and built an ecosystem to maximise your startups' success.">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Favicon
    ================================================== -->
    <link rel="shortcut icon" type="image/png" href="{% static 'dashboard/img/favicon.ico' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'dashboard/img/favicon.ico' %}">

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="{% static 'dashboard/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'dashboard/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/css/responsive.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--
    <script src="{% static 'dashboard/js/tinymce/tinymce.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/tinymce/custom.js' %}" ></script>
    -->
</head>
<body>

    <header id="masthead" class="site-header event-list-header">

        <div class="top-nav">

            <div class="container container-960">

                <a href="index.html" class="site-logo" rel="home"><img src="assets/img/logo.png" alt="" srcset="assets/img/logo.png 1x, assets/img/logo@2x.png 2x"></a>

                <button class="lines-button x toggle-menu" type="button" id="toggle-menu">
                    <span class="lines line-top"></span>
                    <span class="lines line-middle"></span>
                    <span class="lines line-bottom"></span>
                </button><!-- /.lines-button -->

                <nav id="primary-navigation" class="site-navigation">

                    <a href="index.html" class="site-logo visible-xs" rel="home"><img src="assets/img/logo.png" alt="" srcset="assets/img/logo.png 1x, assets/img/logo@2x.png 2x"></a>

                    <ul>
                        <li class="active"><a href="#">Content</a></li>
                        <li><a href="#">Users</a></li>
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Announcements</a></li>
                    </ul>

                </nav><!-- /.site-navigation -->

                <div class="user-profile dropdown">

                    <a class="dropdown-toggle" id="user-dropdown-menu" data-toggle="dropdown" aria-expanded="true">
                        <div class="user-profile-thumb"><img src="assets/img/avatar.jpg" alt=""> <span class="visible-xs caret"></span></div>
                        <div class="user-profile-meta hidden-xs">
                        	<div class="user-profile-meta-inner">
                        		Admin <br> Nick Byrne 
                        	</div>
                        </div>
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="user-dropdown-menu">
                        <li><a href="#" data-toggle="modal" data-target="#edit-profile-modal">Profile</a></li>
                        <li><a href="#">Settings</a></li>
                        <li class="logout-btn"><a href="#">Logout</a></li>
                    </ul>

                </div><!-- /.user-profile -->

            </div><!-- /.container -->

        </div><!-- /.top-nav -->

    </header><!-- /#header -->


    <div id="main" class="site-main admin-page">
	
        <section class="events-list">

            <div class="container container-960">

            	<h1 class="admin-page-title">Content</h1>
			
				<div class="events-filter mb-20">
					<ul class="list-unstyled">
						<li class="ml-0"><a href="#">News</a></li>
						<li><a href="#">Events</a></li>
						<li><a href="#">Startups</a></li>
						<li><a href="#">Jobs</a></li>
						<li><a href="#">Companies</a></li>
					</ul>
					<form>
						<div class="search-wrapper">
							<input type="text" class="search-control" placeholder="Search...">
						</div>
					</form>
				</div><!-- /.events-filter -->

				<div class="clearfix"></div>

				<div class="table-responsive">
				
					<table class="admin-table table">
						<thead> 
							<tr> 
								<th>Title <span class="caret"></span></th> 
								<th>Author</th> 
								<th class="text-right">Date</th> 
								<th class="text-right">Published</th> 
								<th class="text-right">Actions</th> 
							</tr> 
						</thead> 
						<tbody> 
							<tr> 
								<td><img src="assets/img/article.png" alt="" class="title-img"> Tesla Unveils a New Model</td> 
								<td>Nick Byrne</td> 
								<td class="text-right">01/02/2017 09:08</td> 
								<td class="text-right">
									<a href="#" class="opt-published">&#10003;</a>
								</td>
								<td class="text-right">
									<div class="table-actions">
										<a href="#"><img src="assets/img/view.png" alt="" srcset="assets/img/view.png 1x, assets/img/view@2x.png 2x"></a>
										<a href="#"><img src="assets/img/edit.png" alt="" srcset="assets/img/edit.png 1x, assets/img/edit@2x.png 2x"></a>
										<a href="#"><img src="assets/img/trash.png" alt="" srcset="assets/img/trash.png 1x, assets/img/trash@2x.png 2x"></a>
									</div>
								</td>
							</tr> 

							<tr> 
								<td><img src="assets/img/article.png" alt="" class="title-img"> Amazon buys Wholefoods</td> 
								<td>James Archer</td> 
								<td class="text-right">01/02/2017 09:08</td> 
								<td class="text-right">
									<a href="#" class="opt-published">&#10003;</a>
								</td>
								<td class="text-right">
									<div class="table-actions">
										<a href="#"><img src="assets/img/view.png" alt="" srcset="assets/img/view.png 1x, assets/img/view@2x.png 2x"></a>
										<a href="#"><img src="assets/img/edit.png" alt="" srcset="assets/img/edit.png 1x, assets/img/edit@2x.png 2x"></a>
										<a href="#"><img src="assets/img/trash.png" alt="" srcset="assets/img/trash.png 1x, assets/img/trash@2x.png 2x"></a>
									</div>
								</td>
							</tr> 

							<tr> 
								<td><img src="assets/img/article.png" alt="" class="title-img"> Apple posts record quarter</td> 
								<td>Alexandria Jamison</td> 
								<td class="text-right">01/02/2017 09:08</td> 
								<td class="text-right">
									<a href="#" class="opt-not-published"></a>
								</td>
								<td class="text-right">
									<div class="table-actions">
										<a href="#"><img src="assets/img/view.png" alt="" srcset="assets/img/view.png 1x, assets/img/view@2x.png 2x"></a>
										<a href="#"><img src="assets/img/edit.png" alt="" srcset="assets/img/edit.png 1x, assets/img/edit@2x.png 2x"></a>
										<a href="#"><img src="assets/img/trash.png" alt="" srcset="assets/img/trash.png 1x, assets/img/trash@2x.png 2x"></a>
									</div>
								</td>
							</tr> 

							<tr> 
								<td><img src="assets/img/article.png" alt="" class="title-img"> Tesla Unveils a New Model</td> 
								<td>Nick Byrne</td> 
								<td class="text-right">01/02/2017 09:08</td> 
								<td class="text-right">
									<a href="#" class="opt-published">&#10003;</a>
								</td>
								<td class="text-right">
									<div class="table-actions">
										<a href="#"><img src="assets/img/view.png" alt="" srcset="assets/img/view.png 1x, assets/img/view@2x.png 2x"></a>
										<a href="#"><img src="assets/img/edit.png" alt="" srcset="assets/img/edit.png 1x, assets/img/edit@2x.png 2x"></a>
										<a href="#"><img src="assets/img/trash.png" alt="" srcset="assets/img/trash.png 1x, assets/img/trash@2x.png 2x"></a>
									</div>
								</td>
							</tr> 

							<tr> 
								<td><img src="assets/img/article.png" alt="" class="title-img"> Amazon buys Wholefoods</td> 
								<td>James Archer</td> 
								<td class="text-right">01/02/2017 09:08</td> 
								<td class="text-right">
									<a href="#" class="opt-published">&#10003;</a>
								</td>
								<td class="text-right">
									<div class="table-actions">
										<a href="#"><img src="assets/img/view.png" alt="" srcset="assets/img/view.png 1x, assets/img/view@2x.png 2x"></a>
										<a href="#"><img src="assets/img/edit.png" alt="" srcset="assets/img/edit.png 1x, assets/img/edit@2x.png 2x"></a>
										<a href="#"><img src="assets/img/trash.png" alt="" srcset="assets/img/trash.png 1x, assets/img/trash@2x.png 2x"></a>
									</div>
								</td>
							</tr> 

							<tr> 
								<td><img src="assets/img/article.png" alt="" class="title-img"> Apple posts record quarter</td> 
								<td>Alexandria Jamison</td> 
								<td class="text-right">01/02/2017 09:08</td> 
								<td class="text-right">
									<a href="#" class="opt-not-published"></a>
								</td>
								<td class="text-right">
									<div class="table-actions">
										<a href="#"><img src="assets/img/view.png" alt="" srcset="assets/img/view.png 1x, assets/img/view@2x.png 2x"></a>
										<a href="#"><img src="assets/img/edit.png" alt="" srcset="assets/img/edit.png 1x, assets/img/edit@2x.png 2x"></a>
										<a href="#"><img src="assets/img/trash.png" alt="" srcset="assets/img/trash.png 1x, assets/img/trash@2x.png 2x"></a>
									</div>
								</td>
							</tr>

							<tr> 
								<td><img src="assets/img/article.png" alt="" class="title-img"> Tesla Unveils a New Model</td> 
								<td>Nick Byrne</td> 
								<td class="text-right">01/02/2017 09:08</td> 
								<td class="text-right">
									<a href="#" class="opt-published">&#10003;</a>
								</td>
								<td class="text-right">
									<div class="table-actions">
										<a href="#"><img src="assets/img/view.png" alt="" srcset="assets/img/view.png 1x, assets/img/view@2x.png 2x"></a>
										<a href="#"><img src="assets/img/edit.png" alt="" srcset="assets/img/edit.png 1x, assets/img/edit@2x.png 2x"></a>
										<a href="#"><img src="assets/img/trash.png" alt="" srcset="assets/img/trash.png 1x, assets/img/trash@2x.png 2x"></a>
									</div>
								</td>
							</tr> 

							<tr> 
								<td><img src="assets/img/article.png" alt="" class="title-img"> Amazon buys Wholefoods</td> 
								<td>James Archer</td> 
								<td class="text-right">01/02/2017 09:08</td> 
								<td class="text-right">
									<a href="#" class="opt-published">&#10003;</a>
								</td>
								<td class="text-right">
									<div class="table-actions">
										<a href="#"><img src="assets/img/view.png" alt="" srcset="assets/img/view.png 1x, assets/img/view@2x.png 2x"></a>
										<a href="#"><img src="assets/img/edit.png" alt="" srcset="assets/img/edit.png 1x, assets/img/edit@2x.png 2x"></a>
										<a href="#"><img src="assets/img/trash.png" alt="" srcset="assets/img/trash.png 1x, assets/img/trash@2x.png 2x"></a>
									</div>
								</td>
							</tr> 

							<tr> 
								<td><img src="assets/img/article.png" alt="" class="title-img"> Apple posts record quarter</td> 
								<td>Alexandria Jamison</td> 
								<td class="text-right">01/02/2017 09:08</td> 
								<td class="text-right">
									<a href="#" class="opt-not-published"></a>
								</td>
								<td class="text-right">
									<div class="table-actions">
										<a href="#"><img src="assets/img/view.png" alt="" srcset="assets/img/view.png 1x, assets/img/view@2x.png 2x"></a>
										<a href="#"><img src="assets/img/edit.png" alt="" srcset="assets/img/edit.png 1x, assets/img/edit@2x.png 2x"></a>
										<a href="#"><img src="assets/img/trash.png" alt="" srcset="assets/img/trash.png 1x, assets/img/trash@2x.png 2x"></a>
									</div>
								</td>
							</tr>

							<tr> 
								<td><img src="assets/img/article.png" alt="" class="title-img"> Tesla Unveils a New Model</td> 
								<td>Nick Byrne</td> 
								<td class="text-right">01/02/2017 09:08</td> 
								<td class="text-right">
									<a href="#" class="opt-published">&#10003;</a>
								</td>
								<td class="text-right">
									<div class="table-actions">
										<a href="#"><img src="assets/img/view.png" alt="" srcset="assets/img/view.png 1x, assets/img/view@2x.png 2x"></a>
										<a href="#"><img src="assets/img/edit.png" alt="" srcset="assets/img/edit.png 1x, assets/img/edit@2x.png 2x"></a>
										<a href="#"><img src="assets/img/trash.png" alt="" srcset="assets/img/trash.png 1x, assets/img/trash@2x.png 2x"></a>
									</div>
								</td>
							</tr> 

							<tr> 
								<td><img src="assets/img/article.png" alt="" class="title-img"> Amazon buys Wholefoods</td> 
								<td>James Archer</td> 
								<td class="text-right">01/02/2017 09:08</td> 
								<td class="text-right">
									<a href="#" class="opt-published">&#10003;</a>
								</td>
								<td class="text-right">
									<div class="table-actions">
										<a href="#"><img src="assets/img/view.png" alt="" srcset="assets/img/view.png 1x, assets/img/view@2x.png 2x"></a>
										<a href="#"><img src="assets/img/edit.png" alt="" srcset="assets/img/edit.png 1x, assets/img/edit@2x.png 2x"></a>
										<a href="#"><img src="assets/img/trash.png" alt="" srcset="assets/img/trash.png 1x, assets/img/trash@2x.png 2x"></a>
									</div>
								</td>
							</tr> 

							<tr> 
								<td><img src="assets/img/article.png" alt="" class="title-img"> Apple posts record quarter</td> 
								<td>Alexandria Jamison</td> 
								<td class="text-right">01/02/2017 09:08</td> 
								<td class="text-right">
									<a href="#" class="opt-not-published"></a>
								</td>
								<td class="text-right">
									<div class="table-actions">
										<a href="#"><img src="assets/img/view.png" alt="" srcset="assets/img/view.png 1x, assets/img/view@2x.png 2x"></a>
										<a href="#"><img src="assets/img/edit.png" alt="" srcset="assets/img/edit.png 1x, assets/img/edit@2x.png 2x"></a>
										<a href="#"><img src="assets/img/trash.png" alt="" srcset="assets/img/trash.png 1x, assets/img/trash@2x.png 2x"></a>
									</div>
								</td>
							</tr>

							<tr> 
								<td><img src="assets/img/article.png" alt="" class="title-img"> Tesla Unveils a New Model</td> 
								<td>Nick Byrne</td> 
								<td class="text-right">01/02/2017 09:08</td> 
								<td class="text-right">
									<a href="#" class="opt-published">&#10003;</a>
								</td>
								<td class="text-right">
									<div class="table-actions">
										<a href="#"><img src="assets/img/view.png" alt="" srcset="assets/img/view.png 1x, assets/img/view@2x.png 2x"></a>
										<a href="#"><img src="assets/img/edit.png" alt="" srcset="assets/img/edit.png 1x, assets/img/edit@2x.png 2x"></a>
										<a href="#"><img src="assets/img/trash.png" alt="" srcset="assets/img/trash.png 1x, assets/img/trash@2x.png 2x"></a>
									</div>
								</td>
							</tr> 

							<tr> 
								<td><img src="assets/img/article.png" alt="" class="title-img"> Amazon buys Wholefoods</td> 
								<td>James Archer</td> 
								<td class="text-right">01/02/2017 09:08</td> 
								<td class="text-right">
									<a href="#" class="opt-published">&#10003;</a>
								</td>
								<td class="text-right">
									<div class="table-actions">
										<a href="#"><img src="assets/img/view.png" alt="" srcset="assets/img/view.png 1x, assets/img/view@2x.png 2x"></a>
										<a href="#"><img src="assets/img/edit.png" alt="" srcset="assets/img/edit.png 1x, assets/img/edit@2x.png 2x"></a>
										<a href="#"><img src="assets/img/trash.png" alt="" srcset="assets/img/trash.png 1x, assets/img/trash@2x.png 2x"></a>
									</div>
								</td>
							</tr> 

							<tr> 
								<td><img src="assets/img/article.png" alt="" class="title-img"> Apple posts record quarter</td> 
								<td>Alexandria Jamison</td> 
								<td class="text-right">01/02/2017 09:08</td> 
								<td class="text-right">
									<a href="#" class="opt-not-published"></a>
								</td>
								<td class="text-right">
									<div class="table-actions">
										<a href="#"><img src="assets/img/view.png" alt="" srcset="assets/img/view.png 1x, assets/img/view@2x.png 2x"></a>
										<a href="#"><img src="assets/img/edit.png" alt="" srcset="assets/img/edit.png 1x, assets/img/edit@2x.png 2x"></a>
										<a href="#"><img src="assets/img/trash.png" alt="" srcset="assets/img/trash.png 1x, assets/img/trash@2x.png 2x"></a>
									</div>
								</td>
							</tr>

						</tbody> 
					</table>

				</div><!-- /.table-responsive -->
				
				<nav aria-label="News list navigation">
                    <ul class="pagination text-center">
                        <li class="pull-left text-pagination">
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&larr; Prev Page</span>
                            </a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li class="pull-right text-pagination">
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">Next Page &rarr;</span>
                            </a>
                        </li>
                    </ul>
                    <p class="total-items">201 total items</p>
                </nav>
					
            </div><!-- /.container-fluid -->
            
        </section><!-- /.events-list -->

    </div><!-- /#main -->

    
    <footer id="colophon" class="site-footer pages-footer">

        <div class="container container-960">
		
			<div class="row">
		
				<div class="footer-col">
					<a href="#" class="site-logo" rel="home"><img src="assets/img/logo.png" alt=""></a>
				</div><!-- /.footer-col -->

				<div class="footer-col">
					<h4>News</h4>
					<ul>
						<li><a href="#">Current</a></li>
						<li><a href="#">Archive</a></li>
						<li><a href="#">Submit a story</a></li>
					</ul>
				</div><!-- /.footer-col -->
				
				<div class="footer-col">
					<h4>Events</h4>
					<ul>
						<li><a href="#">Browse</a></li>
						<li><a href="#">Attending</a></li>
						<li><a href="#">Manage</a></li>
					</ul>
				</div><!-- /.footer-col -->
				
				<div class="footer-col">
					<h4>Startups</h4>
					<ul>
						<li><a href="#">Browse</a></li>
						<li><a href="#">Manage</a></li>
					</ul>
				</div><!-- /.footer-col -->
				
				<div class="footer-col">
					<h4>Companies</h4>
					<ul>
						<li><a href="#">Browse</a></li>
						<li><a href="#">Manage</a></li>
					</ul>
				</div><!-- /.footer-col -->
				
				<div class="footer-col">
					<h4>Jobs</h4>
					<ul>
						<li><a href="#">Browse</a></li>
						<li><a href="#">Manage</a></li>
					</ul>
				</div><!-- /.footer-col -->
				
				<div class="footer-col">
					<h4>Profile</h4>
					<ul>
						<li><a href="#">Your Activity</a></li>
						<li><a href="#">Edit Profile</a></li>
					</ul>
				</div><!-- /.footer-col -->
				
				<div class="footer-col">
					<h4>Company</h4>
					<ul>
						<li><a href="#">Support</a></li>
						<li><a href="#">About YBF</a></li>
						<li><a href="#">Terms of service</a></li>
						<li><a href="#">Legal</a></li>
					</ul>
				</div><!-- /.footer-col -->
				
				<div class="footer-col pull-right text-right">
					<ul>
						<li><a href="#">Twitter</a></li>
						<li><a href="#">Instagram</a></li>
						<li><a href="#">Facebook</a></li>
						<li><a href="#">LinkedIn</a></li>
					</ul>
				</div><!-- /.footer-col -->

			</div>	
					
        </div><!-- /.container -->

    </footer><!-- /#footer -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
    <script src="{% static 'dashboard/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'dashboard/js/script.js' %}"></script>
  
</body>
</html>