{% extends 'dashboard/base.html' %}
{% block content %}
{% load staticfiles %}
    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 45px;
            height: 15px;
        }

        .switch input {
            display: none;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: grey;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 15px;
            width: 15px;
            left: 3px;
            bottom: 0px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: #00c108;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px white;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 20px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    </style>
<div id="main" class="site-main admin-page">

    <section class="events-list">

        <div class="container container-960">

        	<h1 class="admin-page-title">Content</h1>

			<div class="events-filter mb-20">
				<ul class="list-unstyled">
					<li class="ml-0"><a href="/dashboard">News</a></li>
					<li><a href="perks">Perks</a></li>
					<li><a href="events">Events</a></li>
					<!--<li><a href="#">Startups</a></li>
					<li><a href="#">Jobs</a></li>
					<li><a href="#">Companies</a></li>-->
				</ul>

				<!-- old search bar for dashboard
				<form>
					<div class="search-wrapper">
						<input type="text" class="search-control" placeholder="Search...">
					</div>
				</form>
				-->
			</div><!-- /.events-filter -->
			<div class="events-filter mb-20">
				<ul class="list-unstyled">
					<li class="ml-0"><a href="/events/create?next=/dashboard">+ Create new event</a></li>
				</ul>
			</div>

			<div class="clearfix"></div>

			<div class="table-responsive">

				<table class="admin-table table">
					<thead>
						<tr>
							<th>Title <span class="caret"></span></th>
							<th>Author</th>
							<th class="text-right">Date Started</th>
							<th class="text-center">Published</th>
							<th class="text-right">Actions</th>
						</tr>
					</thead>
					<tbody>

					{% for event in event_list %}

						<tr>
							<td><img src="{% static 'dashboard/img/article.png' %}" alt="" class="title-img"> {{event.title|truncatechars:30}}</td>
							<td>{{ event.author }}</td>
							<td class="text-right">{{ event.start_date }}</td>
							<td class="text-center">
								<label class="switch">
                                        {% if event.public %}
                                            <input onchange="setActive({{ event.id}}, this)" type="checkbox"
                                                   checked>
                                        {% else %}
                                            <input type="checkbox" onchange="setActive({{ event.id }}, this)">
                                        {% endif %}
                                        <span class="slider round"></span>
                                    </label>
							</td>
							<td class="text-right">
								<div class="table-actions">
									<!-- View -->
									<a href="/events/{{event.id}}?next=/dashboard"><img src="{% static 'dashboard/img/view.png' %}" alt="" srcset="{% static 'dashboard/img/view.png' %} 1x, {% static 'dashboard/img/view@2x.png' %} 2x"></a>

									<!-- Edit -->
									<a href="/events/{{event.id}}/edit?next=/dashboard"><img src="{% static 'dashboard/img/edit.png' %}" alt="" srcset="{% static 'dashboard/img/edit.png' %}" 1x, "{% static 'dashboard/assets/img/edit@2x.png' %}" 2x></a>

									<!-- Delete -->
									<a href="/events/{{event.id}}/delete"><img src="{% static 'dashboard/img/trash.png' %}" alt="" srcset="{% static 'dashboard/img/trash.png' %} 1x, {% static 'dashboard/img/trash@2x.png' %} 2x"></a>
								</div>
							</td>
						</tr>

					{% endfor %}

					</tbody>
				</table>

			</div><!-- /.table-responsive -->

			<nav aria-label="News list navigation">
                <ul class="pagination text-center">
                    <li class="pull-left text-pagination">
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&larr; Prev Page</span>
                        </a>
                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li class="pull-right text-pagination">
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">Next Page &rarr;</span>
                        </a>
                    </li>
                </ul>
                <p class="total-items">201 total items</p>
            </nav>


        </div><!-- /.container-fluid -->

    </section><!-- /.events-list -->

</div><!-- /#main -->
{% endblock %}
{% block customscript %}
    <script>
        function setActive(eventId, obj) {

            if (obj.checked) {
                $.ajax({
                    url: '/dashboard/event/' + eventId + '/active',
                    dataType: 'json',
                    success: function (result) {
                        console.log(result)
                    }
                });
            }
            else {
                $.ajax({
                    url: '/dashboard/event/' + eventId + '/inactive',
                    dataType: 'json',
                    success: function (result) {
                        console.log(result)
                    }
                });
            }
        }
    </script>
{% endblock %}
