{% extends 'dashboard/base.html' %}
{% block content %}
{% load staticfiles %}
<div id="main" class="site-main admin-page">

    <section class="events-list">

        <div class="container container-960">

        	<h1 class="admin-page-title">Content</h1>

			<div class="events-filter mb-20">
				<ul class="list-unstyled">
					<li class="ml-0"><a href="/dashboard">News</a></li>
					<li><a href="perks">Perks</a></li>
                    <li><a href="events">Events</a></li>
					<!--<li><a href="#">Startups</a></li>
					<li><a href="#">Jobs</a></li>
					<li><a href="#">Companies</a></li>-->
				</ul>

				<!-- old search bar for dashboard
				<form>
					<div class="search-wrapper">
						<input type="text" class="search-control" placeholder="Search...">
					</div>
				</form>
				-->
			</div><!-- /.events-filter -->
			<div class="events-filter mb-20">
				<ul class="list-unstyled">
					<li class="ml-0"><a href="/perks/create?next=/dashboard">+ Post new Perk</a></li>
				</ul>
			</div>

			<div class="clearfix"></div>

			<div class="table-responsive">

				<table class="admin-table table">
					<thead>
						<tr>
							<th>Title <span class="caret"></span></th>
							<th>Author</th>
							<th class="text-right">Date published</th>
							<th class="text-right">Published</th>
							<th class="text-right">Actions</th>
						</tr>
					</thead>
					<tbody>

					{% for news in news_list %}

						<tr>
							<td><img src="{% static 'dashboard/img/article.png' %}" alt="" class="title-img"> {{news.title|truncatechars:30}}</td>
							<td>{{news.owner.username}}</td>
							<td class="text-right">{{ news.pub_date }}</td>
							<td class="text-right">
								<a href="#" class="opt-published">&#10003;</a>
							</td>
							<td class="text-right">
								<div class="table-actions">
									<!-- View -->
									<a href="/perks/{{news.id}}?next=/dashboard"><img src="{% static 'dashboard/img/view.png' %}" alt="" srcset="{% static 'dashboard/img/view.png' %} 1x, {% static 'dashboard/img/view@2x.png' %} 2x"></a>

									<!-- Edit -->
									<a href="/perks/{{news.id}}/edit?next=/dashboard"><img src="{% static 'dashboard/img/edit.png' %}" alt="" srcset="{% static 'dashboard/img/edit.png' %}" 1x, "{% static 'dashboard/assets/img/edit@2x.png' %}" 2x></a>

									<!-- Delete -->
									<a href="/perks/{{news.id}}/delete"><img src="{% static 'dashboard/img/trash.png' %}" alt="" srcset="{% static 'dashboard/img/trash.png' %} 1x, {% static 'dashboard/img/trash@2x.png' %} 2x"></a>
								</div>
							</td>
						</tr>

					{% endfor %}

					</tbody>
				</table>

			</div><!-- /.table-responsive -->

			<nav aria-label="News list navigation">
                    <ul class="pagination text-center">
                        <li class="pull-left text-pagination">

                            <a href="?pg_num={% if pg_num <= 1 %}{{ pg_num }}{% else %}{{pg_num|add:"-1"}}{% endif %}"
                               aria-label="Previous">
                                <span aria-hidden="true">&larr; Prev Page</span>

                            </a>
                        </li>
                        {% for i in total_pages %}
                            {% if pg_num == forloop.counter %}
                                <li class="active"><a href="?pg_num={{ forloop.counter }}">{{ forloop.counter }}</a>
                                </li>
                            {% else %}
                                <li><a href="?pg_num={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                            {% endif %}
                        {% endfor %}
                        <li class="pull-right text-pagination">
                            <a href="?pg_num={% if pg_num < total_pages|length %}{{pg_num|add:"1"}}{% else %}{{ pg_num }}{% endif %}" aria-label="Next">
                                <span aria-hidden="true">Next Page &rarr;</span>
                            </a>
                        </li>
                    </ul>
                    <p class="total-items">{{ total_count }} total items</p>
                </nav>


        </div><!-- /.container-fluid -->

    </section><!-- /.events-list -->

</div><!-- /#main -->
{% endblock %}
