/* Profile Edit */
.profile-content {
    padding: 50px 0;
}

.profile-content h3 {
    color: #6f6f6f;
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 20px;
}

.community.site-main {
    position: relative;
}

.header-section {
    position: absolute;
    top: -100px;
}

.hero .profile-thumb {
    position: absolute;
    left: 0;
    bottom: -45px;
    border: 1px solid #fff;
    border-radius: 100px;
    width: 130px;
    height: 130px;
    overflow: hidden;
}

.header-section .profile-thumb {
    border: 1px solid #fff;
    width: 130px;
    height: 130px;
    overflow: hidden;
    position: relative;
    border-radius: 100%;
}

.community .news-page-list .news-single-thumb {
    overflow: visible;
}

#upload_avatar {
    height: 150px;
    width: 130px;
    position: absolute;
    z-index: 999;
    opacity: 0 !important;
    top: -20px;
    border-radius: 100%;
}

.trans-back {
    width: 130px;
    height: 130px;
    background: rgba(255,255,255,0.4);
    position: absolute;
    border-radius: 50%;
    display: none;
    top: 0;
}

.trans-back .camera {
    font-size: 50px;
    color: #333;
    left: 33%;
    top: 33%;
}

.header-section .profile-title {
    margin-left: 40px;
    margin-top: 10px;
}

.header-section .profile-title input {
    color: #fff;
    border-color: #fff;
    width: 200px;
}

.user-details .control-label {
    text-align: left !important;
    cursor: default;
}

.edit-actions {
    margin-top: 150px;
}

.edit-actions .edit-save {
    margin-bottom: 15px;
}

.company-profile-header #ribbon-container {
    top: 30px;
    left: auto;
}

.company-profile-header #ribbon-container span:after {
    content: none;
}

#ribbon-container {
    position: absolute;
    overflow: visible;
    font-size: 14px;
    bottom: 8px;
    left: -7px;
}

#ribbon-container span {
    display:block;
    padding: 8px 25px;
    position:relative;
    background:#0089d0;
    overflow:visible;
    color:#fff;
}

#ribbon-container span:after {
    content: "";
    height: 0;
    width: 0;
    display: block;
    position: absolute;
    bottom: -8px;
    left: 0;
    border-top: 8px solid #004a70;
    border-left: 8px solid transparent;
}

#ribbon-container span:before {
    content: "";
    height: 0;
    width: 0;
    display: block;
    position: absolute;
    top: 0;
    right: -18px;
    border-top: 18px solid #0089d0;
    border-bottom: 18px solid #0089d0;
    border-right: 18px solid transparent;
    border-left: 18px solid transparent;
}

/* Select Tag */
.bootstrap-tagsinput {
    width: 100%;
    box-shadow: none !important;
    border-radius: 0 !important;
    border-color: #272534 !important;
}

.bootstrap-tagsinput .tag {
    font-size: 14px;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.twitter-typeahead .tt-hint
{
    display: none;
}

.tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    cursor: pointer;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

.tt-suggestion:hover,
.tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}
