/* Profile Edit */
.profile-content {
    padding: 50px 0;
}

.profile-content h3 {
    color: #6f6f6f;
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 20px;
}

.community.site-main {
    position: relative;
}

.header-section {
    position: absolute;
    top: -100px;
}

.header-section .profile-thumb {
    border: 1px solid #fff;
    width: 130px;
    height: 130px;
    overflow: hidden;
    position: relative;
    border-radius: 100%;
}

.community .news-page-list .news-single-thumb {
    overflow: visible;
}

#upload_avatar {
    height: 130px;
    width: 130px;
    position: absolute;
    z-index: 999;
    opacity: 0 !important;
    top: 0;
    border-radius: 100%;
}

.trans-back {
    width: 130px;
    height: 130px;
    background: rgba(255,255,255,0.4);
    position: absolute;
    border-radius: 50%;
    display: none;
    top: 0;
}

.trans-back .camera {
    font-size: 50px;
    color: #333;
    left: 33%;
    top: 33%;
}

.header-section .profile-title {
    margin-left: 40px;
    margin-top: 10px;
}

.header-section .profile-title input {
    color: #fff;
    border-color: #fff;
    width: 200px;
}

.user-details .control-label {
    text-align: left !important;
    cursor: default;
}

.user-details .tags {
    border: 1px solid #272534;
    padding: 6px 12px;
}

.edit-actions {
    margin-top: 150px;
}

.edit-actions .edit-save {
    margin-bottom: 15px;
}

.company-profile-header #ribbon-container {
    top: 30px;
    left: auto;
}

.company-profile-header #ribbon-container span:after {
    content: none;
}

#ribbon-container {
    position: absolute;
    overflow: visible;
    font-size: 14px;
    bottom: 8px;
    left: -7px;
}

#ribbon-container span {
    display:block;
    padding: 8px 25px;
    position:relative;
    background:#0089d0;
    overflow:visible;
    color:#fff;
}

#ribbon-container span:after {
    content: "";
    height: 0;
    width: 0;
    display: block;
    position: absolute;
    bottom: -8px;
    left: 0;
    border-top: 8px solid #004a70;
    border-left: 8px solid transparent;
}

#ribbon-container span:before {
    content: "";
    height: 0;
    width: 0;
    display: block;
    position: absolute;
    top: 0;
    right: -18px;
    border-top: 18px solid #0089d0;
    border-bottom: 18px solid #0089d0;
    border-right: 18px solid transparent;
    border-left: 18px solid transparent;
}
